<div id="Optimize-Windows-Authentication" class="sectionWithTitleBar Optimize-Windows-Authentication">
    <div class="titleBar" name="Title-Bar" style="font-size: large;">Optimize <br> Windows <br> Auth For...</div>
    <div class="coreSection" style="border-bottom: 1px solid black;">
        <div class="settingElement" style="margin: 0.25rem 0">
            <div class="labelElement">
                <span>Web <br> Client</span>
            </div>
            <div class="inputElement">
                <label for="OptimizeForWindowsAuth-WebClient" class="switch">
                    <input id="OptimizeForWindowsAuth-WebClient" type="checkbox" class="OptimizeForWindowsAuth-Buttons" onclick="optimizeForWindowsAuthChangedWebServer(this)">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
    </div>
    <div class="coreSection" style="border-bottom: 1px solid black;">
        <div class="settingElement" style="margin: 0.25rem 0">
            <div class="labelElement">
                <span>Doc <br> Pop</span>
            </div>
            <div class="inputElement">
                <label for="OptimizeForWindowsAuth-DocPop" class="switch">
                    <input id="OptimizeForWindowsAuth-DocPop" type="checkbox" class="OptimizeForWindowsAuth-Buttons" onclick="optimizeForWindowsAuthChangedWebServer(this)">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
    </div>
    <div class="coreSection" style="border-bottom: 1px solid black;">
        <div class="settingElement" style="margin: 0.25rem 0">
            <div class="labelElement">
                <span>PDF <br> Pop</span>
            </div>
            <div class="inputElement">
                <label for="OptimizeForWindowsAuth-PdfPop" class="switch">
                    <input id="OptimizeForWindowsAuth-PdfPop" type="checkbox" class="OptimizeForWindowsAuth-Buttons" onclick="optimizeForWindowsAuthChangedWebServer(this)">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
    </div>
    <div class="coreSection" style="border-bottom: 1px solid black;">
        <div class="settingElement" style="margin: 0.25rem 0">
            <div class="labelElement">
                <span>Form <br> Pop</span>
            </div>
            <div class="inputElement">
                <label for="OptimizeForWindowsAuth-FormPop" class="switch">
                    <input id="OptimizeForWindowsAuth-FormPop" type="checkbox" class="OptimizeForWindowsAuth-Buttons" onclick="optimizeForWindowsAuthChangedWebServer(this)">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
    </div>
    <div class="coreSection">
        <div class="settingElement" style="margin: 0.25rem 0">
            <div class="labelElement">
                <span>Folder <br> Pop</span>
            </div>
            <div class="inputElement">
                <label for="OptimizeForWindowsAuth-FolderPop" class="switch">
                    <input id="OptimizeForWindowsAuth-FolderPop" type="checkbox" class="OptimizeForWindowsAuth-Buttons" onclick="optimizeForWindowsAuthChangedWebServer(this)">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
    </div>
</div>