<p class="LinksHeader">OnBase Configuration</p>
<div class="core-section-buttons">
    <div class="core-section-buttons-outer">
        <div class="core-section-buttons-inner">
            <ul>
                <li id="ActiveXLink-SettingElement"><a class="sectionLinks" id="ActiveXLink" href="javascript:openSection('ActiveX')">ActiveX</a></li>
                <li id="ADFSSettingsLink-SettingElement"><a class="sectionLinks" id="ADFSSettingsLink" href="javascript:openSection('ADFSSettings')">ADFS Settings</a></li>
                <li id="CustomValidationLink-SettingElement"><a class="sectionLinks" id="CustomValidationLink" href="javascript:openSection('CustomValidation')">Custom Validation</a></li>
                <li id="DashboardViewerLink-SettingElement"><a class="sectionLinks" id="DashboardViewerLink" href="javascript:openSection('DashboardViewer')">Dashboard Viewer</a></li>
                <li id="DataMiningLink-SettingElement"><a class="sectionLinks" id="DataMiningLink" href="javascript:openSection('DataMining')">Data Mining</a></li>
                <li id="DiagnosticsSettingsLink-SettingElement"><a class="sectionLinks" id="DiagnosticsSettingsLink" href="javascript:openSection('DiagnosticsSettings')">Diagnostics Settings</a></li>
                <li id="DocPopLink-SettingElement"><a class="sectionLinks" id="DocPopLink" href="javascript:openSection('DocPop')">Doc Pop</a></li>
                <li id="DocumentImportLink-SettingElement"><a class="sectionLinks" id="DocumentImportLink" href="javascript:openSection('DocumentImport')">Document Import</a></li>
                <li id="EFormsLoginFormProcLink-SettingElement"><a class="sectionLinks" id="EFormsLoginFormProcLink" href="javascript:openSection('EFormsLoginFormProc')">E-Forms - Login Form Proc</a></li>
                <li id="FolderingLink-SettingElement"><a class="sectionLinks" id="FolderingLink" href="javascript:openSection('Foldering')">Foldering</a></li>
                <li id="FolderPopLink-SettingElement"><a class="sectionLinks" id="FolderPopLink" href="javascript:openSection('FolderPop')">Folder Pop</a></li>
                <li id="FormPopLink-SettingElement"><a class="sectionLinks" id="FormPopLink" href="javascript:openSection('FormPop')">Form Pop</a></li>
                <li id="HealthcareWebViewerLink-SettingElement"><a class="sectionLinks" id="HealthcareWebViewerLink" href="javascript:openSection('HealthcareWebViewer')">Healthcare Web Viewer</a></li>
                <li id="LoginLink-SettingElement"><a class="sectionLinks" id="LoginLink" href="javascript:openSection('Login')">Login</a></li>
                <li id="MenusLink-SettingElement"><a class="sectionLinks" id="MenusLink" href="javascript:openSection('Menus')">Menus</a></li>
                <li id="MiscellaneousLink-SettingElement"><a class="sectionLinks" id="MiscellaneousLink" href="javascript:openSection('Miscellaneous')">Miscellaneous</a></li>
                <li id="NavigationPanelLink-SettingElement"><a class="sectionLinks" id="NavigationPanelLink" href="javascript:openSection('NavigationPanel')">Navigation Panel</a></li>
                <li id="PacketPopLink-SettingElement"><a class="sectionLinks" id="PacketPopLink" href="javascript:openSection('PacketPop')">Packet Pop</a></li>
                <li id="PDFPopLink-SettingElement"><a class="sectionLinks" id="PDFPopLink" href="javascript:openSection('PDFPop')">PDF Pop</a></li>
                <li id="RetrievalLink-SettingElement"><a class="sectionLinks" id="RetrievalLink" href="javascript:openSection('Retrieval')">Retrieval</a></li>
                <li id="ServerConfigurationLink-SettingElement"><a class="sectionLinks" id="ServerConfigurationLink" href="javascript:openSection('ServerConfiguration')">Server Configuration</a></li>
                <li id="ViewerLink-SettingElement"><a class="sectionLinks" id="ViewerLink" href="javascript:openSection('Viewer')">Viewer</a></li>
                <li id="WorkflowLink-SettingElement"><a class="sectionLinks" id="WorkflowLink" href="javascript:openSection('Workflow')">Workflow</a></li>
                <li id="WorkViewLink-SettingElement"><a class="sectionLinks" id="WorkViewLink" href="javascript:openSection('WorkView')">WorkView</a></li>
                <li id="WebClientLink-SettingElement"><a class="sectionLinks" id="WebClientLink" href="javascript:openSection('WebClient')">Web Client</a></li>
            </ul>
        </div>
    </div>
</div>