<div id="HealthcareSection" class="tabcontent">
    <div class="row">
        <div class="column">
            <div class="sectionWithTitleBar">
                <div class="titleBar" name="Title-Bar">
                    Patient Portal Settings
                </div>
                <div class="coreSection">
                    <div class="settingElement">
                        <div class="labelElement">
                            <span>PPL Endpoint: </span><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                            <span id="PPL-Endpoint-Enabled-Tooltip" class="tooltiptext">This is the help text.</span>
                        </div>
                        <div class="inputElement">
                            <label for="PPL-Endpoint-Enabled" class="switch">
                                <input id="PPL-Endpoint-Enabled" type="checkbox">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                    <div class="settingElement">
                        <div class="labelElement">
                            <label for="PPL-DocPop-URL">DocPop URL: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                            <span id="PPL-DocPop-URL-Tooltip" class="tooltiptext">This is the help text.</span>
                        </div>
                        <div class="inputElement">
                            <input type="url" name="PPL-DocPop-URL" id="PPL-DocPop-URL">
                        </div>
                    </div>
                </div>
            </div>
            <div class="sectionWithTitleBar">
                <div class="titleBar" name="Title-Bar">
                    Other
                </div>
                <div class="coreSection">
                    <div class="settingElement">
                        <div class="labelElement">
                            <span>Forms Endpoint: </span><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                            <span id="Forms-Endpoint-Tooltip" class="tooltiptext">This is the help text.</span>
                        </div>
                        <div class="inputElement">
                            <label for="Forms-Endpoint" class="switch">
                                <input id="Forms-Endpoint" type="checkbox">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="sectionWithTitleBar">
                <div class="titleBar" name="Title-Bar">
                    FHIR
                </div>
                <div class="coreSection">
                    <div class="settingElement">
                        <div class="labelElement">
                            <span>Web-BLOB Passthrough FHIR Endpoint: </span><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                            <span id="Web-BLOB-Passthrough-FHIR-Endpoint-Tooltip" class="tooltiptext">This is the help text.</span>
                        </div>
                        <div class="inputElement">
                            <label for="Web-BLOB-Passthrough-FHIR-Endpoint" class="switch">
                                <input id="Web-BLOB-Passthrough-FHIR-Endpoint" type="checkbox">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                    <div class="settingElement">
                        <div class="labelElement">
                            <label for="SMART-On-FHIR-Application-ID">SMART On FHIR Application ID: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                            <span id="SMART-On-FHIR-Application-ID-Tooltip" class="tooltiptext">This is the help text.</span>
                        </div>
                        <div class="inputElement">
                            <input type="text" name="SMART-On-FHIR-Application-ID" id="SMART-On-FHIR-Application-ID">
                        </div>
                    </div>
                    <div class="settingElement" id="Doc-Linker-SMART-On-FHIR-Application-ID-SettingElement">
                        <div class="labelElement">
                            <label for="Doc-Linker-SMART-On-FHIR-Application-ID">Doc Linker SMART On FHIR Application ID: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                            <span id="Doc-Linker-SMART-On-FHIR-Application-ID-Tooltip" class="tooltiptext">This is the help text.</span>
                        </div>
                        <div class="inputElement">
                            <input type="text" name="Doc-Linker-SMART-On-FHIR-Application-ID" id="Doc-Linker-SMART-On-FHIR-Application-ID">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>