<p class="LinksHeader">OnBase Configuration</p>
<div class="core-section-buttons">
    <div class="core-section-buttons-outer">
        <div class="core-section-buttons-inner">
            <ul>
                <li id="DiagnosticsSettingsLink-SettingElement"><a id="DiagnosticsSettingsLink" href="javascript:openSection('DiagnosticsSettings')">Diagnostics Settings</a></li>
                <li id="GatewayCachingServerLink-SettingElement"><a id="GatewayCachingServerLink" href="javascript:openSection('GatewayCachingServer')">Gateway Caching Server</a></li>
                <li id="ServerConfigurationLink-SettingElement"><a id="ServerConfigurationLink" href="javascript:openSection('ServerConfiguration')">Server Configuration</a></li>
            </ul>
        </div>
    </div>
</div>