<div id="Optimize-Windows-Authentication" class="sectionWithTitleBar Optimize-Windows-Authentication">
    <div class="titleBar dark_mode_titlebar" name="Title-Bar" style="font-size: large;">
        Optimize <br> Windows <br> Auth For...
    </div>
    <div class="coreSection">
        <div class="settingElement" style="margin:0.25rem 0;display:block;">
            <div class="labelElement">
                <span>Application <br> Server</span>
            </div>
            <div class="inputElement">
                <label for="OptimizeForWindowsAuth-ApplicationServer" class="switch">
                    <input id="OptimizeForWindowsAuth-ApplicationServer" type="checkbox" class="OptimizeForWindowsAuth-Buttons" onclick="optimizeForWindowsAuthChangedApplicationServer(this)">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
    </div>
</div>