<p class="LinksHeader">OnBase Configuration</p>
<div class="core-section-buttons">
    <div class="core-section-buttons-outer">
        <div class="core-section-buttons-inner">
            <ul class="LinksList">
                <li id="ADFSLink-SettingElement"><a class="dark_mode_links" id="ADFSLink" href="javascript:openSection('ADFS')">ADFS</a></li>
                <li id="ApplicationServerLink-SettingElement"><a class="dark_mode_links" id="ApplicationServerLink" href="javascript:openSection('ApplicationServer')">Application Server</a></li>
                <li id="ConnectionStringsLink-SettingElement"><a class="dark_mode_links" id="ConnectionStringsLink" href="javascript:openSection('ConnectionStrings')">Connection Strings</a></li>
                <li id="ContentComposerLink-SettingElement"><a class="dark_mode_links" id="ContentComposerLink" href="javascript:openSection('ContentComposer')">Content Composer</a></li>
                <li id="DiagnosticsSettingsLink-SettingElement"><a class="dark_mode_links" id="DiagnosticsSettingsLink" href="javascript:openSection('DiagnosticsSettings')">Diagnostics Settings</a></li>
                <li id="EISLink-SettingElement-SettingElement"><a class="dark_mode_links" id="EISLink" href="javascript:openSection('EIS')">EIS (Enterprise Integration Server)</a></li>
                <li id="ExternalAccessClientLink-SettingElement"><a class="dark_mode_links" id="ExternalAccessClientLink" href="javascript:openSection('ExternalAccessClient')">External Access Client</a></li>
                <li id="FrontOfficeScanningLink-SettingElement"><a class="dark_mode_links" id="FrontOfficeScanningLink" href="javascript:openSection('FrontOfficeScanning')">Front Office Scanning</a></li>
                <li id="FullTextServiceLink-SettingElement"><a class="dark_mode_links" id="FullTextServiceLink" href="javascript:openSection('FullTextService')">Full-Text Service</a></li>
                <li id="GlobalCloudServicesLink-SettingElement"><a class="dark_mode_links" id="GlobalCloudServicesLink" href="javascript:openSection('GlobalCloudServices')">Global Cloud Services</a></li>
                <li id="HealthcareLink-SettingElement"><a class="dark_mode_links" id="HealthcareLink" href="javascript:openSection('Healthcare')">Healthcare</a></li>
                <li id="HylandIdentityProviderLink-SettingElement"><a class="dark_mode_links" id="HylandIdentityProviderLink" href="javascript:openSection('HylandIdentityProvider')">Hyland Identity Provider</a></li>
                <li id="HylandServicesLink-SettingElement"><a class="dark_mode_links" id="HylandServicesLink" href="javascript:openSection('HylandServices')">Hyland Services</a></li>
                <li id="HylandXMLServicesDocumentConnectorLink-SettingElement"><a class="dark_mode_links" id="HylandXMLServicesDocumentConnectorLink" href="javascript:openSection('HylandXMLServicesDocumentConnector')">Hyland XML Services - Document Connector</a></li>
                <li id="IDOLLink-SettingElement"><a class="dark_mode_links" id="IDOLLink" href="javascript:openSection('IDOL')">IDOL</a></li>
                <li id="LOBBrokerAccountsPayableAPILink-SettingElement"><a class="dark_mode_links" id="LOBBrokerAccountsPayableAPILink" href="javascript:openSection('LOBBrokerAccountsPayableAPI')">LOB Broker - Accounts Payable API</a></li>
                <li id="MediaLink-SettingElement"><a class="dark_mode_links" id="MediaLink" href="javascript:openSection('Media')">Media</a></li>
                <li id="MiscellaneousLink-SettingElement"><a class="dark_mode_links" id="MiscellaneousLink" href="javascript:openSection('Miscellaneous')">Miscellaneous</a></li>
                <li id="OWINLink-SettingElement"><a class="dark_mode_links" id="OWINLink" href="javascript:openSection('OWIN')">OWIN</a></li>
                <li id="PlatterManagementLink-SettingElement"><a class="dark_mode_links" id="PlatterManagementLink" href="javascript:openSection('PlatterManagement')">Platter Management</a></li>
                <li id="PopIntegrationLink-SettingElement"><a class="dark_mode_links" id="PopIntegrationLink" href="javascript:openSection('PopIntegration')">Pop Integration</a></li>
                <li id="SessionAdministrationLink-SettingElement"><a class="dark_mode_links" id="SessionAdministrationLink" href="javascript:openSection('SessionAdministration')">Session Administration</a></li>
                <li id="ShareBaseLink-SettingElement"><a class="dark_mode_links" id="ShareBaseLink" href="javascript:openSection('ShareBase')">ShareBase</a></li>
                <li id="TrustedCertificatesLink-SettingElement"><a class="dark_mode_links" id="TrustedCertificatesLink" href="javascript:openSection('TrustedCertificates')">Trusted Certificates</a></li>
                <li id="UnityClientLink-SettingElement"><a class="dark_mode_links" id="UnityClientLink" href="javascript:openSection('UnityClient')">Unity Client</a></li>
                <li id="UnityImageFormsLink-SettingElement"><a class="dark_mode_links" id="UnityImageFormsLink" href="javascript:openSection('UnityImageForms')">Unity/Image Forms</a></li>
                <li id="ViewerLink-SettingElement"><a class="dark_mode_links" id="ViewerLink" href="javascript:openSection('Viewer')">Viewer</a></li>
                <li id="WOPILink-SettingElement"><a class="dark_mode_links" id="WOPILink" href="javascript:openSection('WOPI')">WOPI</a></li>
                <li id="WorkViewLink-SettingElement"><a class="dark_mode_links" id="WorkViewLink" href="javascript:openSection('WorkView')">WorkView</a></li>
            </ul>
        </div>
    </div>
</div>