<div id="Optimize-Windows-Authentication" class="sectionWithTitleBar Optimize-Windows-Authentication">
    <div class="titleBar dark_mode_titlebar" name="Title-Bar" style="font-size: large;">Optimize <br> Windows <br> Auth For...</div>
    <div class="coreSection" style="border-bottom: 1px solid black;">
        <div class="settingElement" style="margin: 0.25rem 0">
            <div class="labelElement">
                <span>Reporting<br>Viewer</span>
            </div>
            <div class="inputElement">
                <label for="OptimizeForWindowsAuth-ReportingViewer" class="switch">
                    <input id="OptimizeForWindowsAuth-ReportingViewer" type="checkbox" class="OptimizeForWindowsAuth-Buttons" onclick="optimizeForWindowsAuthChangedReportingViewer(this)">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
    </div>
</div>