<div class="modal-overlay" id="modalOverlay">
    <div class="modal-content">
        <svg id="successfulSave" width="120" height="120" viewBox="0 0 120 120" fill="none" xmlns="http://www.w3.org/2000/svg" style="display: none">
            <circle cx="60" cy="60" r="52.5" fill="#4CAF50" />
            <path d="M32.5 65L55 90L100 45" stroke="white" stroke-width="12" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
        <svg id="erroredSave" width="120" height="120" viewBox="0 0 120 120" xmlns="http://www.w3.org/2000/svg" style="display: none">
            <!-- Outer white circle -->
            <circle cx="60" cy="60" r="52.5" fill="white" stroke="black" stroke-width="2" />
            <!-- Red background circle -->
            <circle cx="60" cy="60" r="45" fill="red" />
            <!-- White railroad crossing X -->
            <path d="M30 30 L90 90 M30 90 L90 30" stroke="white" stroke-width="12" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
    </div>
</div>