<div id="SettingsSection" class="tabcontent">
    <div class="row">
        <div class="column">
            <div class="sectionWithTitleBar">
                <div class="titleBar dark_mode_titlebar" name="Title-Bar">
                    Application Server
                </div>
                <div class="coreSection">
                    <div class="settingElement">
                        <div class="labelElement">
                            <label for="Application-Server-URL">Application Server URL: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                            <span id="Application-Server-URL-Tooltip" class="tooltiptext">This is the help text.</span>
                        </div>
                        <div class="inputElement">
                            <div id="Application-Server-URL-Loader" class="loader"></div>
                            <input type="url" name="Application-Server-URL" id="Application-Server-URL" oninput="resetBorderStyling(event)" onfocusout="testUrl(event)">
                        </div>
                    </div>
                    <div class="settingElement">
                        <div class="labelElement">
                            <label for="Service-Client-Type">Service Client Type: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                            <span id="Service-Client-Type-Tooltip" class="tooltiptext">This is the help text.</span>
                        </div>
                        <div class="inputElement">
                            <select name="Service-Client-Type" id="Service-Client-Type" class="dark_mode_select">
                                <option value="SOAP" selected>SOAP</option>
                                <option value="Remoting">Remoting</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sectionWithTitleBar">
                <div class="titleBar dark_mode_titlebar" name="Title-Bar">
                    Pool Size
                </div>
                <div class="coreSection">
                    <div class="settingElement">
                        <div class="labelElement">
                            <label for="Min-Pool-Size">Min Pool Size: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                            <span id="Min-Pool-Size-Tooltip" class="tooltiptext">This is the help text.</span>
                        </div>
                        <div class="inputElement">
                            <input type="number" name="Min-Pool-Size" id="Min-Pool-Size">
                        </div>
                    </div>
                    <div class="settingElement">
                        <div class="labelElement">
                            <label for="Max-Pool-Size">Max Pool Size: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                            <span id="Max-Pool-Size-Tooltip" class="tooltiptext">This is the help text.</span>
                        </div>
                        <div class="inputElement">
                            <input type="number" name="Max-Pool-Size" id="Max-Pool-Size">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="sectionWithTitleBar">
                <div class="titleBar dark_mode_titlebar" name="Title-Bar">
                    Player
                </div>
                <div class="coreSection">
                    <div class="settingElement">
                        <div class="labelElement">
                            <label for="Player-Source-File-Path">Player Source File Path: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                            <span id="Player-Source-File-Path-Tooltip" class="tooltiptext">This is the help text.</span>
                        </div>
                        <div class="inputElement">
                            <input type="text" name="Player-Source-File-Path" id="Player-Source-File-Path">
                        </div>
                    </div>
                    <div class="settingElement">
                        <div class="labelElement">
                            <label for="Player-Version">Player Version: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                            <span id="Player-Version-Tooltip" class="tooltiptext">This is the help text.</span>
                        </div>
                        <div class="inputElement">
                            <input type="text" name="Player-Version" id="Player-Version">
                        </div>
                    </div>
                </div>
            </div>
            <div class="sectionWithTitleBar">
                <div class="titleBar dark_mode_titlebar" name="Title-Bar">
                    Other
                </div>
                <div class="coreSection">
                    <div class="settingElement">
                        <div class="labelElement">
                            <label for="Stream-Chunk-Size">Stream Chunk Size: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                            <span id="Stream-Chunk-Size-Tooltip" class="tooltiptext">This is the help text.</span>
                        </div>
                        <div class="inputElement">
                            <input type="number" name="Stream-Chunk-Size" id="Stream-Chunk-Size">
                        </div>
                    </div>
                    <div class="settingElement">
                        <div class="labelElement">
                            <span>webpages:Enabled</span><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                            <span id="webpages-Enabled-Tooltip" class="tooltiptext">This is the help text.</span>
                        </div>
                        <div class="inputElement">
                            <label for="webpages-Enabled" class="switch">
                                <input id="webpages-Enabled" type="checkbox">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                    <div class="settingElement">
                        <div class="labelElement">
                            <label for="Google-Analytics">Google Analytics: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                            <span id="Google-Analytics-Tooltip" class="tooltiptext">This is the help text.</span>
                        </div>
                        <div class="inputElement">
                            <input type="text" name="Google-Analytics" id="Google-Analytics">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>