<div id="MiscellaneousSection" class="tabcontent">
    <div class="row">
        <p class="BlockDescription">The folowing settings do not fit into any of the default categories.</p>
    </div>
    <div class="row">
        <div class="column">
            <div class="sectionWithTitleBar">
                <div class="titleBar" name="Title-Bar">
                    ACC
                </div>
                <div class="coreSection">
                    <div class="settingElement">
                        <div class="labelElement">
                            <span>Use FolderPop Viewer: </span><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                            <span id="Use-FolderPop-Viewer-Tooltip" class="tooltiptext">Set to true to use FolderPop as the Document Viewer.</span>
                        </div>
                        <div class="inputElement">
                            <label for="Use-FolderPop-Viewer" class="switch">
                                <input id="Use-FolderPop-Viewer" type="checkbox">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="sectionWithTitleBar">
                <div class="titleBar" name="Title-Bar">
                    StatusView
                </div>
                <div class="coreSection">
                    <div class="settingElement">
                        <div class="labelElement">
                            <label for="Max-JSON-Deserialized-Members">Max JSON Deserialized Members: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                            <span id="Max-JSON-Deserialized-Members-Tooltip" class="tooltiptext">The maximum number of form keys, files, and JSON members that can be used in an HTTP request. This setting is used in StatusView when configuring Foldering and WorkView portlets.</span>
                        </div>
                        <div class="inputElement">
                            <input type="number" pattern="[0-9]*" inputmode="numeric" name="Max-JSON-Deserialized-Members" id="Max-JSON-Deserialized-Members" value="40000">
                        </div>
                    </div>
                    <div class="settingElement">
                        <div class="labelElement">
                            <label for="Validation-Settings-Unobtrusive-Validation-Mode">Validation Settings: Unobtrusive Validation Mode: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                            <span id="Validation-Settings-Unobtrusive-Validation-Mode-Tooltip" class="tooltiptext">StatusView uses pre-4.5 validation.</span>
                        </div>
                        <div class="inputElement">
                            <input type="text" name="Validation-Settings-Unobtrusive-Validation-Mode" id="Validation-Settings-Unobtrusive-Validation-Mode">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <div id="Application-Enabler" class="sectionWithTitleBar">
                <div class="titleBar" name="Title-Bar">
                    Application Enabler
                </div>
                <div class="coreSection">
                    <div class="settingElement">
                        <div class="labelElement">
                            <span>Application Enabler Integration: </span><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                            <span id="Application-Enabler-Integration-Tooltip" class="tooltiptext">Enable/disable AppEnabler integration.</span>
                        </div>
                        <div class="inputElement">
                            <label for="Application-Enabler-Integration" class="switch">
                                <input id="Application-Enabler-Integration" type="checkbox">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                    <div class="settingElement">
                        <div class="labelElement">
                            <span>Launch Application Enabler: </span><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                            <span id="Launch-Application-Enabler-Tooltip" class="tooltiptext">Launch AppEnabler client by default.</span>
                        </div>
                        <div class="inputElement">
                            <label for="Launch-Application-Enabler" class="switch">
                                <input id="Launch-Application-Enabler" type="checkbox">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="sectionWithTitleBar">
                <div class="titleBar" name="Title-Bar">
                    SharePoint
                </div>
                <div class="coreSection">
                    <div class="settingElement">
                        <div class="labelElement">
                            <span>SharePoint Online: </span><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                            <span id="SharePoint-Online-Tooltip" class="tooltiptext">Toggling SharePoint Online changes the authentication scheme used. If set to true it uses OAuth. If set to false, it uses the provided certificate.</span>
                        </div>
                        <div class="inputElement">
                            <label for="SharePoint-Online" class="switch">
                                <input id="SharePoint-Online" type="checkbox">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                    <div class="settingElement">
                        <div class="labelElement">
                            <span>SharePoint Viewer Show Workflow: </span><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                            <span id="SharePoint-Viewer-Show-Workflow-Tooltip" class="tooltiptext">Turn on/off the Workflow header bar in SharePoint.</span>
                        </div>
                        <div class="inputElement">
                            <label for="SharePoint-Viewer-Show-Workflow" class="switch">
                                <input id="SharePoint-Viewer-Show-Workflow" type="checkbox">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <div class="sectionWithTitleBar">
                <div class="titleBar" name="Title-Bar">
                    Keyword Typeahead
                </div>
                <div class="coreSection">
                    <div class="settingElement">
                        <div class="labelElement">
                            <label for="KeywordTypeahead-KeywordIDNumber">Keyword ID#: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                            <span id="KeywordTypeahead-KeywordIDNumber-Tooltip" class="tooltiptext">This is the help text.</span>
                        </div>
                        <div class="inputElement">
                            <input type="number" name="KeywordTypeahead-KeywordIDNumber" id="KeywordTypeahead-KeywordIDNumber" oninput="keywordDropDownTypeAheadFieldUpdated(this)" disabled>
                        </div>
                    </div>
                    <div class="settingElement">
                        <div class="labelElement">
                            <label for="KeywordTypeahead-TypeaheadCharacterCount">Typeahead character count: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                            <span id="KeywordTypeahead-TypeaheadCharacterCount-Tooltip" class="tooltiptext">This is the help text.</span>
                        </div>
                        <div class="inputElement">
                            <input type="number" name="KeywordTypeahead-TypeaheadCharacterCount" id="KeywordTypeahead-TypeaheadCharacterCount" oninput="keywordDropDownTypeAheadFieldUpdated(this)" disabled>
                        </div>
                    </div>
                    <div style="display: flex; justify-content: center;">
                        <div style="display: flex; width: 40%; justify-content: space-around;">
                            <button id="KeywordTypeahead-AddButton" onclick="addKeywordDropDownTypeAhead()">Add</button>
                            <button id="KeywordTypeahead-DeleteButton" onclick="deleteKeywordDropDownTypeAhead()" disabled>Delete</button>
                        </div>
                    </div>
                    <div style="display: flex; justify-content: center;margin: 1rem 0 1rem 0;">
                        <select class="" name="KeywordTypeahead-SelectList" id="KeywordTypeahead-SelectList" size="8" style="max-width:90%;min-width:50%" onchange="keywordTypeAheadMinimumCharactersChanged(this)">
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="sectionWithTitleBar">
                <div class="titleBar" name="Title-Bar">
                    Platter Management
                </div>
                <div class="coreSection">
                    <div class="settingElement">
                        <div class="labelElement">
                            <label for="Platter-Management-Cache-Location">Platter Management Cache Location: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                            <span id="Platter-Management-Cache-Location-Tooltip" class="tooltiptext">This is the help text.</span>
                        </div>
                        <div class="inputElement">
                            <input type="text" name="Platter-Management-Cache-Location" id="Platter-Management-Cache-Location">
                        </div>
                    </div>
                    <div class="settingElement">
                        <div class="labelElement">
                            <label for="Platter-Management-Cache-Timeout">Platter Management Cache Timeout (Minutes): </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                            <span id="Platter-Management-Cache-Timeout-Tooltip" class="tooltiptext">This is the help text.</span>
                        </div>
                        <div class="inputElement">
                            <input type="number" name="Platter-Management-Cache-Timeout" id="Platter-Management-Cache-Timeout">
                        </div>
                    </div>
                    <div class="settingElement">
                        <div class="labelElement">
                            <label for="Platter-Management-Cache-Size">Platter Management Cache Size (MB): </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                            <span id="Platter-Management-Cache-Size-Tooltip" class="tooltiptext">This is the help text.</span>
                        </div>
                        <div class="inputElement">
                            <input type="number" name="Platter-Management-Cache-Size" id="Platter-Management-Cache-Size">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <div class="settingElement">
                <div class="labelElement">
                    <span>Enable Virtual Print Driver: </span><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                    <span id="Enable-Virtual-Print-Driver-Tooltip" class="tooltiptext">This is the help text.</span>
                </div>
                <div class="inputElement">
                    <label for="Enable-Virtual-Print-Driver" class="switch">
                        <input id="Enable-Virtual-Print-Driver" type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
            <div class="settingElement">
                <div class="labelElement">
                    <span>Enabled Legacy Checksum Fallback: </span><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                    <span id="Enabled-Legacy-Checksum-Fallback-Tooltip" class="tooltiptext">This is the help text.</span>
                </div>
                <div class="inputElement">
                    <label for="Enabled-Legacy-Checksum-Fallback" class="switch">
                        <input id="Enabled-Legacy-Checksum-Fallback" type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
            <div class="settingElement" id="Use-Web-Mail-SettingElement">
                <div class="labelElement">
                    <span>Use Web Mail: </span><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                    <span id="Use-Web-Mail-Tooltip" class="tooltiptext">This is the help text.</span>
                </div>
                <div class="inputElement">
                    <label for="Use-Web-Mail" class="switch">
                        <input id="Use-Web-Mail" type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
            <div class="settingElement">
                <div class="labelElement">
                    <span>Auto Display Note Panel PDF Office: </span><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                    <span id="Auto-Display-Note-Panel-PDF-Office-Tooltip" class="tooltiptext">Automatically display the note panel when viewing PDF and Office documents.</span>
                </div>
                <div class="inputElement">
                    <label for="Auto-Display-Note-Panel-PDF-Office" class="switch">
                        <input id="Auto-Display-Note-Panel-PDF-Office" type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
            <div class="settingElement">
                <div class="labelElement">
                    <span>Enable Browser PDF Viewer: </span><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                    <span id="Enable-Browser-PDF-Viewer-Tooltip" class="tooltiptext">Use PDF viewer provided by browser to view PDF documents, set to false will use onbase viewer. This setting will override user preferences setting. Leaving this value empty will allow users to choose which PDF viewer to use via user preferences.</span>
                </div>
                <div class="inputElement">
                    <label for="Enable-Browser-PDF-Viewer" class="switch">
                        <input id="Enable-Browser-PDF-Viewer" type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
            <div class="settingElement" id="Ping-Timer-For-Scan-Service-SettingElement">
                <div class="labelElement">
                    <label for="Ping-Timer-For-Scan-Service">Ping Timer For Scan Service (seconds): </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                    <span id="Ping-Timer-For-Scan-Service-Tooltip" class="tooltiptext">This is the help text.</span>
                </div>
                <div class="inputElement">
                    <input type="text" name="Ping-Timer-For-Scan-Service" id="Ping-Timer-For-Scan-Service" width="30px">
                </div>
            </div>
        </div>
        <div class="column">
            <div class="settingElement">
                <div class="labelElement">
                    <span>Allow View Source: </span><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                    <span id="Allow-View-Source-Tooltip" class="tooltiptext">This is the help text.</span>
                </div>
                <div class="inputElement">
                    <label for="Allow-View-Source" class="switch">
                        <input id="Allow-View-Source" type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
            <div class="settingElement">
                <div class="labelElement">
                    <span>Prompt with Unread DKT Docs: </span><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                    <span id="Prompt-with-Unread-DKT-Docs-Tooltip" class="tooltiptext">By default, when a user has unread documents in DKT, they are prompted to review the documents on login. Set this key to false to turn off this prompt.</span>
                </div>
                <div class="inputElement">
                    <label for="Prompt-with-Unread-DKT-Docs" class="switch">
                        <input id="Prompt-with-Unread-DKT-Docs" type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
            <div class="settingElement">
                <div class="labelElement">
                    <span>OWIN Automatic App Startup: </span><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                    <span id="OWIN-Automatic-App-Startup-Tooltip" class="tooltiptext">Setting owin:AutomaticAppStartup to true enables the Administrator System Message feature.</span>
                </div>
                <div class="inputElement">
                    <label for="OWIN-Automatic-App-Startup" class="switch">
                        <input id="OWIN-Automatic-App-Startup" type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
            <div class="settingElement" id="Enable-Desktop-Host-SettingElement">
                <div class="labelElement">
                    <span>Enable Desktop Host: </span><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                    <span id="Enable-Desktop-Host-Tooltip" class="tooltiptext">This is the help text.</span>
                </div>
                <div class="inputElement">
                    <label for="Enable-Desktop-Host" class="switch">
                        <input id="Enable-Desktop-Host" type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
            <div class="settingElement" id="Multi-Form-Viewer-Origin-SettingElement">
                <div class="labelElement">
                    <label for="Multi-Form-Viewer-Origin">Multi Form Viewer Origin: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                    <span id="Multi-Form-Viewer-Origin-Tooltip" class="tooltiptext">This is the help text.</span>
                </div>
                <div class="inputElement">
                    <input type="text" name="Multi-Form-Viewer-Origin" id="Multi-Form-Viewer-Origin">
                </div>
            </div>
            <div class="settingElement" id="Use-Legacy-SharePoint-Authentication-SettingElement">
                <div class="labelElement">
                    <span>Use Legacy SharePoint Authentication: </span><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                    <span id="Use-Legacy-SharePoint-Authentication-Tooltip" class="tooltiptext">This is the help text.</span>
                </div>
                <div class="inputElement">
                    <label for="Use-Legacy-SharePoint-Authentication" class="switch">
                        <input id="Use-Legacy-SharePoint-Authentication" type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>