@{
    ViewData["Title"] = "Agenda Online";
}

<div id="AgendaOnlineSection" class="tabcontent">
    <div class="row">
        <div class="column">
            <div class="sectionWithTitleBar">
                <div class="titleBar" name="Title-Bar">
                    Data Source
                </div>
                <div class="coreSection">
                    <div class="settingElement">
                        <div class="labelElement">
                            <label for="Session-Username">Session Username: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                            <span id="Session-Username-Tooltip" class="tooltiptext">This is the help text.</span>
                        </div>
                        <div class="inputElement">
                            <input type="text" name="Session-Username" id="Session-Username">
                        </div>
                    </div>
                    <div class="settingElement">
                        <div class="labelElement">
                            <label for="Session-Password">Session Password: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                            <span id="Session-Password-Tooltip" class="tooltiptext">This is the help text.</span>
                        </div>
                        <div class="inputElement">
                            <input type="password" name="Session-Password" id="Session-Password">
                            <button class="passwordShowHideButton" id="-ShowHide-Password" onclick="passwordFieldShowHide('Session-Password',this)">
                                <svg width="18" height="18" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M6.873 17.129c-1.845-1.31-3.305-3.014-4.13-4.09a1.693 1.693 0 0 1 0-2.077C4.236 9.013 7.818 5 12 5c1.876 0 3.63.807 5.13 1.874"></path>
                                    <path d="M14.13 9.887a3 3 0 1 0-4.243 4.242"></path>
                                    <path d="M4 20 20 4"></path>
                                    <path d="M10 18.704A7.124 7.124 0 0 0 12 19c4.182 0 7.764-4.013 9.257-5.962a1.694 1.694 0 0 0-.001-2.078A22.939 22.939 0 0 0 19.57 9"></path>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="settingElement">
                        <div class="labelElement">
                            <label for="Data-Source">Data  Source: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                            <span id="Data-Source-Tooltip" class="tooltiptext">This is the help text.</span>
                        </div>
                        <div class="inputElement">
                            <input type="text" name="Data-Source" id="Data-Source">
                        </div>
                    </div>
                    <div class="settingElement">
                        <div class="labelElement">
                            <span>Encrypt Agenda Online Access: </span><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                            <span id="Encrypt-Agenda-Online-Access-Tooltip" class="tooltiptext">This is the help text.</span>
                        </div>
                        <div class="inputElement">
                            <label for="Encrypt-Agenda-Online-Access" class="switch">
                                <input id="Encrypt-Agenda-Online-Access" type="checkbox">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
        </div>
    </div>
</div>
<div id="SettingsSection" class="tabcontent">
    <div class="row">
        <div class="column">
            <div class="sectionWithTitleBar">
                <div class="titleBar" name="Title-Bar">
                    Application Server
                </div>
                <div class="coreSection">
                    <div class="settingElement">
                        <div class="labelElement">
                            <label for="Application-Server-URL">Application Server URL: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                            <span id="Application-Server-URL-Tooltip" class="tooltiptext">This is the help text.</span>
                        </div>
                        <div class="inputElement">
                            <div id="Application-Server-URL-Loader" class="loader"></div>
                            <input type="url" name="Application-Server-URL" id="Application-Server-URL" oninput="resetBorderStyling(event)" onfocusout="testUrl(event)">
                        </div>
                    </div>
                    <div class="settingElement">
                        <div class="labelElement">
                            <label for="Service-Client-Type">Service Client Type: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                            <span id="Service-Client-Type-Tooltip" class="tooltiptext">This is the help text.</span>
                        </div>
                        <div class="inputElement">
                            <select name="Service-Client-Type" id="Service-Client-Type">
                                <option value="SOAP" selected>SOAP</option>
                                <option value="Remoting">Remoting</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sectionWithTitleBar">
                <div class="titleBar" name="Title-Bar">
                    Pool Size
                </div>
                <div class="coreSection">
                    <div class="settingElement">
                        <div class="labelElement">
                            <label for="Min-Pool-Size">Min Pool Size: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                            <span id="Min-Pool-Size-Tooltip" class="tooltiptext">This is the help text.</span>
                        </div>
                        <div class="inputElement">
                            <input type="number" name="Min-Pool-Size" id="Min-Pool-Size">
                        </div>
                    </div>
                    <div class="settingElement">
                        <div class="labelElement">
                            <label for="Max-Pool-Size">Max Pool Size: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                            <span id="Max-Pool-Size-Tooltip" class="tooltiptext">This is the help text.</span>
                        </div>
                        <div class="inputElement">
                            <input type="number" name="Max-Pool-Size" id="Max-Pool-Size">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="sectionWithTitleBar">
                <div class="titleBar" name="Title-Bar">
                    Player
                </div>
                <div class="coreSection">
                    <div class="settingElement">
                        <div class="labelElement">
                            <label for="Player-Source-File-Path">Player Source File Path: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                            <span id="Player-Source-File-Path-Tooltip" class="tooltiptext">This is the help text.</span>
                        </div>
                        <div class="inputElement">
                            <input type="text" name="Player-Source-File-Path" id="Player-Source-File-Path">
                        </div>
                    </div>
                    <div class="settingElement">
                        <div class="labelElement">
                            <label for="Player-Version">Player Version: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                            <span id="Player-Version-Tooltip" class="tooltiptext">This is the help text.</span>
                        </div>
                        <div class="inputElement">
                            <input type="text" name="Player-Version" id="Player-Version">
                        </div>
                    </div>
                </div>
            </div>
            <div class="sectionWithTitleBar">
                <div class="titleBar" name="Title-Bar">
                    Other
                </div>
                <div class="coreSection">
                    <div class="settingElement">
                        <div class="labelElement">
                            <label for="Stream-Chunk-Size">Stream Chunk Size: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                            <span id="Stream-Chunk-Size-Tooltip" class="tooltiptext">This is the help text.</span>
                        </div>
                        <div class="inputElement">
                            <input type="number" name="Stream-Chunk-Size" id="Stream-Chunk-Size">
                        </div>
                    </div>
                    <div class="settingElement">
                        <div class="labelElement">
                            <span>webpages:Enabled</span><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                            <span id="webpages-Enabled-Tooltip" class="tooltiptext">This is the help text.</span>
                        </div>
                        <div class="inputElement">
                            <label for="webpages-Enabled" class="switch">
                                <input id="webpages-Enabled" type="checkbox">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                    <div class="settingElement">
                        <div class="labelElement">
                            <label for="Google-Analytics">Google Analytics: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                            <span id="Google-Analytics-Tooltip" class="tooltiptext">This is the help text.</span>
                        </div>
                        <div class="inputElement">
                            <input type="text" name="Google-Analytics" id="Google-Analytics">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="PublicCommentIntegrationsSection" class="tabcontent">
    <div style="display:flex; justify-content:space-between;">
        <div class="column" style="width:30%; padding:0;">
            <select id="PublicCommentIntegrations-SelectList" size="30" onchange="integrationSelected(this)" style="width: 100%;">
            </select>
            <div style="display: flex;justify-content: space-around;padding-top: 5px;">
                <button id="PublicCommentIntegrations-AddButton" onclick="addNewIntegration()" type="button">Add</button>
                <button id="PublicCommentIntegrations-CopyButton" onclick="copyIntegration()" type="button">Copy</button>
                <button id="PublicCommentIntegrations-DeleteButton" onclick="deleteIntegration()" type="button">Delete</button>
            </div>
        </div>
        <div class="column" style="width:65%;padding:0;">
            <div class="settingElement">
                <div class="labelElement">
                    <label for="Integration-Name">Name: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                    <span id="Integration-Name-Tooltip" class="tooltiptext">This is the help text.</span>
                </div>
                <div class="inputElement">
                    <input type="text" name="Integration-Name" id="Integration-Name" oninput="integrationfieldUpdated(this)">
                </div>
            </div>
            <div class="settingElement">
                <div class="labelElement">
                    <label for="Integration-URL">URL: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                    <span id="Integration-URL-Tooltip" class="tooltiptext">This is the help text.</span>
                </div>
                <div class="inputElement">
                    <input type="url" name="Integration-URL" id="Integration-URL" oninput="integrationfieldUpdated(this)">
                </div>
            </div>
            <div class="settingElement">
                <div class="labelElement">
                    <label for="Integration-Token">Token: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                    <span id="Integration-Token-Tooltip" class="tooltiptext">This is the help text.</span>
                </div>
                <div class="inputElement">
                    <input type="text" name="Integration-Token" id="Integration-Token" oninput="integrationfieldUpdated(this)">
                </div>
            </div>
            <div class="settingElement">
                <div class="labelElement">
                    <label for="Availability-From-Meeting-Start">Availability From Meeting Start: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                    <span id="Availability-From-Meeting-Start-Tooltip" class="tooltiptext">This is the help text.</span>
                </div>
                <div class="inputElement">
                    <input type="number" name="Availability-From-Meeting-Start" id="Availability-From-Meeting-Start" oninput="integrationfieldUpdated(this)">
                </div>
            </div>
            <div class="sectionWithTitleBar">
                <div class="titleBar" name="Title-Bar">
                    Agenda Unity Form Fields
                </div>
                <div class="coreSection">
                    <div class="row">
                        <div class="column">
                            <div style="display: flex; justify-content: center;margin: 1rem 0 1rem 0;">
                                <select class="" name="Form-Field-Select-List" id="Form-Field-Select-List" size="8" style="max-width:90%;min-width:50%" onchange="unityFormFieldSelected(this)">
                                </select>
                            </div>
                            <div style="display: flex; justify-content: center;">
                                <div style="display: flex; width: 40%; justify-content: space-around;">
                                    <button id="FormFieldSelectList-AddButton" onclick="addNewUnityFormField()" disabled>Add</button>
                                    <button id="FormFieldSelectList-DeleteButton" onclick="deleteUnityFormField()" disabled>Delete</button>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="settingElement">
                                <div class="labelElement">
                                    <label for="Form-Field-Name">Field Name: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                                    <span id="Form-Field-Name-Tooltip" class="tooltiptext">This is the help text.</span>
                                </div>
                                <div class="inputElement">
                                    <input type="text" name="Form-Field-Name" id="Form-Field-Name" oninput="integrationfieldUpdated(this)">
                                </div>
                            </div>
                            <div class="settingElement">
                                <div class="labelElement">
                                    <label for="Form-Field-ID">Form Field ID: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                                    <span id="Form-Field-ID-Tooltip" class="tooltiptext">This is the help text.</span>
                                </div>
                                <div class="inputElement">
                                    <input type="text" name="Form-Field-ID" id="Form-Field-ID" oninput="integrationfieldUpdated(this)">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sectionWithTitleBar">
                <div class="titleBar" name="Title-Bar">
                    Meeting Types
                </div>
                <div class="coreSection">
                    <div class="row">
                        <div class="column">
                            <div style="display: flex; justify-content: center;margin: 1rem 0 1rem 0;">
                                <select class="" name="Meeting-Type-Name-Select-List" id="Meeting-Type-Name-Select-List" size="8" style="max-width:90%;min-width:50%" onchange="meetingtypeSelected(this)">
                                </select>
                            </div>
                            <div style="display: flex; justify-content: center;">
                                <div style="display: flex; width: 40%; justify-content: space-around;">
                                    <button id="Meeting-Type-Name-Select-List-AddButton" onclick="addNewMeetingType()" disabled>Add</button>
                                    <button id="Meeting-Type-Name-Select-List-DeleteButton" onclick="deleteMeetingType()" disabled>Delete</button>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="settingElement">
                                <div class="labelElement">
                                    <label for="Meeting-Type-Name">Name: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                                    <span id="Meeting-Type-Name-Tooltip" class="tooltiptext">This is the help text.</span>
                                </div>
                                <div class="inputElement">
                                    <input type="text" name="Meeting-Type-Name" id="Meeting-Type-Name" oninput="integrationfieldUpdated(this)">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@********************************************************
 *                      Sections
 ********************************************************@
@section CoreButtons {
    <p class="LinksHeader">OnBase Configuration</p>
    <div class="core-section-buttons">
        <div class="core-section-buttons-outer">
            <div class="core-section-buttons-inner">
                <ul>
                    <li><a id="AgendaOnlineLink" href="javascript:openSection('AgendaOnline')">Agenda Online</a></li>
                    <li><a id="DiagnosticsSettingsLink" href="javascript:openSection('DiagnosticsSettings')">Diagnostics Settings</a></li>
                    <li><a id="PublicCommentIntegrationsLink" href="javascript:openSection('PublicCommentIntegrations')">Public Comment Integrations</a></li>
                    <li><a id="SettingsLink" href="javascript:openSection('Settings')">Settings</a></li>
                </ul>
            </div>
        </div>
    </div>
}

@section IisLinks {
    <p class="LinksHeader">IIS Configuration</p>
    <div class="core-section-buttons">
        <div class="core-section-buttons-outer">
            <div class="core-section-buttons-inner">
                <ul>
                    <li><a id="IISApplicationLink" href="javascript:openSection('IISApplication')">IIS Application</a></li>
                    <li><a id="IISApplicationPoolLink" href="javascript:openSection('IISApplicationPool')">IIS Application Pool</a></li>
                </ul>
            </div>
        </div>
    </div>
}