@section core {
    <div style="display:flex;justify-content:center;flex-direction: column;">
        <div style="display:flex;justify-content:center;">
            <h1>What would you like to do?</h1>
        </div>
        <div style="display:flex;justify-content:space-around;">
            <div style="width:70%;display:flex;justify-content:space-around;gap:2rem;">
                @* <button style="font-size:x-large;max-height:7.5rem;min-height:5rem;max-width:7.5rem;border-radius: 10px;" onclick="createWebApplication()">Create WebApp</button> *@
                <button style="font-size:xx-large;max-height:7.5rem;min-height:5rem;border-radius: 10px;" onclick="createNewConfiguration()">New Configuration</button>
                <button style="font-size:xx-large;max-height:7.5rem;min-height:5rem;border-radius: 10px;" onclick="openModal()">Open WebApp</button>
                @* <button style="font-size:x-large;max-height:7.5rem;min-height:5rem;max-width:7.5rem;border-radius: 10px;" onclick="createLocalConfiguration()">Create Local Config</button> *@
                @* <button style="font-size:x-large;max-height:7.5rem;min-height:5rem;max-width:7.5rem;border-radius: 10px;" onclick="openLocalConfiguration()">Open Local Config</button> *@
            </div>
        </div>
    </div>
    <script>
        currentPage = "Home";
    </script>
}

@section LogoutButton {
    <partial name="~/Views/PartialViews/General/LogoutButton/LogoutButton.cshtml" />
}

@section SettingsButton {
    <partial name="~/Views/PartialViews/General/SettingsButton/SettingsButton.cshtml" />
}