<div id="UnityClientSection" class="tabcontent">
    <div class="row">
        <div class="column">
            <div class="settingElement">
                <div class="labelElement">
                    <label for="Document-Query-Warning-Threshold">Document Query Warning Threshold: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                    <span id="Document-Query-Warning-Threshold-Tooltip" class="tooltiptext">This is the help text.</span>
                </div>
                <div class="inputElement">
                    <input type="number" name="Document-Query-Warning-Threshold" id="Document-Query-Warning-Threshold" onchange="documentQueryWarningThresholdChanged()">
                </div>
            </div>
            <div class="settingElement">
                <div class="labelElement">
                    <label for="Document-Query-Limit">Document Query Limit: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                    <span id="Document-Query-Limit-Tooltip" class="tooltiptext">This is the help text.</span>
                </div>
                <div class="inputElement">
                    <input type="number" name="Document-Query-Limit" id="Document-Query-Limit" onchange="documentQueryLimitChanged()">
                </div>
            </div>
        </div>
        <div class="column"></div>
    </div>
</div>