<div class="errorLoadModal" id="errorLoadModal">
    document.getElementById("ProcessingWebConfigValuesProgress-Content").classList.add('dark_mode');
    <div id="errorLoadModal-content" class="errorLoadModal-content">
        <div>
            <p>The following error(s) happened when loading your Web Application:</p>
            <ul id="errorLoadModal-ErrorList">
            </ul>
        </div>
        <div style="display:flex;">
            <button onclick="closeErrorLoadModal()" style="margin:auto;">OK</button>
        </div>
    </div>
</div>