@********************************************************
*                  Templates
********************************************************@
<!-- Templated section with NO sub tabs. -->
<div id="{}Section" class="tabcontent">
    <div class="row">
        <p class="BlockDescription"></p>
        <div class="column">
            <div class="settingElement">
                <div class="labelElement">
                    <label for=""></label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                    <span class="tooltiptext">This is the help text.</span>
                </div>
                <div class="inputElement">
                    <input type="text" name="" id="">
                </div>
            </div>
        </div>
        <div class="column">
            <div class="settingElement">
                <div class="labelElement">
                    <label for=""></label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                    <span class="tooltiptext">This is the help text.</span>
                </div>
                <div class="inputElement">
                    <input type="text" name="" id="">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Templated HTML for a section with border and header section. -->
<div class="sectionWithTitleBar">
    <div class="titleBar dark_mode_titlebar" name="Title-Bar">
        This is the title
    </div>
    <div class="coreSection">

    </div>
</div>

<!-- Templated slider for toggling a setting on/off. -->
<div class="settingElement">
    <div class="labelElement">
        <span></span><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
        <span class="tooltiptext">This is the help text.</span>
    </div>
    <div class="inputElement">
        <label for="" class="switch">
            <input id="" type="checkbox">
            <span class="slider round"></span>
        </label>
    </div>
</div>

<!-- Templated non-slider setting element -->
<div class="settingElement">
    <div class="labelElement">
        <label for=""></label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
        <span class="tooltiptext">This is the help text.</span>
    </div>
    <div class="inputElement">
        <input type="text" name="" id="">
    </div>
</div>

<!-- This is a template for the password show/hide button. -->
<button class="passwordShowHideButton" id="-ShowHide-Password" onclick="passwordFieldShowHide('',this)">
    <svg width="18" height="18" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path d="M6.873 17.129c-1.845-1.31-3.305-3.014-4.13-4.09a1.693 1.693 0 0 1 0-2.077C4.236 9.013 7.818 5 12 5c1.876 0 3.63.807 5.13 1.874"></path>
        <path d="M14.13 9.887a3 3 0 1 0-4.243 4.242"></path>
        <path d="M4 20 20 4"></path>
        <path d="M10 18.704A7.124 7.124 0 0 0 12 19c4.182 0 7.764-4.013 9.257-5.962a1.694 1.694 0 0 0-.001-2.078A22.939 22.939 0 0 0 19.57 9"></path>
    </svg>
</button>

<!-- This is the template for the infinite loading circle. -->
<div id="-Loader" class="loader"></div>

<!-- This is the template for the Required Alert SVG. -->
<svg width="20" height="20" fill="#ff0000" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" id="-RequiredSvg" class="requiredAlertSvg">
    <path d="M16.325 2.183A.625.625 0 0 0 15.884 2H8.116a.625.625 0 0 0-.441.183L2.183 7.675A.625.625 0 0 0 2 8.116v7.768c0 .165.066.324.183.441l5.492 5.492a.625.625 0 0 0 .441.183h7.768a.625.625 0 0 0 .441-.183l5.492-5.492a.625.625 0 0 0 .183-.441V8.116a.625.625 0 0 0-.183-.441l-5.492-5.492ZM12 7a1.13 1.13 0 0 1 1.125 1.244l-.438 4.383a.69.69 0 0 1-1.374 0l-.438-4.383A1.131 1.131 0 0 1 12 7Zm.002 7.5a1.25 1.25 0 1 1 0 2.5 1.25 1.25 0 0 1 0-2.5Z"></path>
</svg>