<div id="IDOLSection" class="tabcontent">
    <div class="row">
        <div class="column">
            <div class="settingElement">
                <div class="labelElement">
                    <label for="Image-Compression">Image Compression(%): </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                    <span id="Image-Compression-Tooltip" class="tooltiptext">This is the help text.</span>
                </div>
                <div class="inputElement">
                    <input type="number" name="Image-Compression" id="Image-Compression">
                </div>
            </div>
        </div>
        <div class="column">
            <div class="settingElement">
                <div class="labelElement">
                    <span>Remote OCR Engine: </span><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                    <span id="Remote-OCR-Engine-Tooltip" class="tooltiptext">This is the help text.</span>
                </div>
                <div class="inputElement">
                    <label for="Remote-OCR-Engine" class="switch">
                        <input id="Remote-OCR-Engine" type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
            <div class="settingElement">
                <div class="labelElement">
                    <label for="Remote-OCR-Engine-Remote-Server">Remote Server: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                    <span id="Remote-OCR-Engine-Remote-Server-Tooltip" class="tooltiptext">This is the help text.</span>
                </div>
                <div class="inputElement">
                    <input type="text" name="Remote-OCR-Engine-Remote-Server" id="Remote-OCR-Engine-Remote-Server">
                </div>
            </div>
            <div class="settingElement">
                <div class="labelElement">
                    <label for="Remote-OCR-Engine-Port">Port: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                    <span id="Remote-OCR-Engine-Port-Tooltip" class="tooltiptext">This is the help text.</span>
                </div>
                <div class="inputElement">
                    <input type="text" name="Remote-OCR-Engine-Port" id="Remote-OCR-Engine-Port">
                </div>
            </div>
            <div class="settingElement">
                <div class="labelElement">
                    <label for="Remote-OCR-Engine-Timeout">Timeout: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                    <span id="Remote-OCR-Engine-Timeout-Tooltip" class="tooltiptext">This is the help text.</span>
                </div>
                <div class="inputElement">
                    <input type="text" name="Remote-OCR-Engine-Timeout" id="Remote-OCR-Engine-Timeout">
                </div>
            </div>
        </div>
    </div>
</div>