<div id="ViewerSection" class="tabcontent">
    <div class="row">
        <p class="BlockDescription">The following settings control what the user sees in the Web Client.</p>
    </div>
    <div class="row">
        <div class="column">
            <div class="settingElement">
                <div class="labelElement">
                    <span>Raw Images: </span><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                    <span id="Raw-Images-Tooltip" class="tooltiptext">This is the help text.</span>
                </div>
                <div class="inputElement">
                    <label for="Raw-Images" class="switch">
                        <input id="Raw-Images" type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
            <div class="settingElement">
                <div class="labelElement">
                    <label for="Compression-Quality">Compression Quality (%): </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                    <span id="Compression-Quality-Tooltip" class="tooltiptext">This is the help text.</span>
                </div>
                <div class="inputElement">
                    <input type="number" name="Compression-Quality" id="Compression-Quality">
                </div>
            </div>
        </div>
        <div class="column"></div>
    </div>
</div>