<div id="FrontOfficeScanningSection" class="tabcontent">
    <div class="row">
        <p class="BlockDescription">Settings for FOS Admittance Monitoring.</p>
    </div>
    <div class="row">
        <div class="column">
            <div class="settingElement">
                <div class="labelElement">
                    <label for="Watch-Folder">Watch Folder: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                    <span id="Watch-Folder-Tooltip" class="tooltiptext">This is the help text.</span>
                </div>
                <div class="inputElement">
                    <input type="text" name="Watch-Folder" id="Watch-Folder">
                </div>
            </div>
            <div class="settingElement">
                <div class="labelElement">
                    <label for="Site-ID-Keyword-Type">Site ID Keyword Type: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                    <span id="Site-ID-Keyword-Type-Tooltip" class="tooltiptext">This is the help text.</span>
                </div>
                <div class="inputElement">
                    <input type="text" name="Site-ID-Keyword-Type" id="Site-ID-Keyword-Type">
                </div>
            </div>
        </div>
        <div class="column">
            <div class="settingElement">
                <div class="labelElement">
                    <label for="Cleanup-Timer-Interval">Cleanup Timer Interval: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                    <span id="Cleanup-Timer-Interval-Tooltip" class="tooltiptext">This is the help text.</span>
                </div>
                <div class="inputElement">
                    <input type="number" name="Cleanup-Timer-Interval" id="Cleanup-Timer-Interval">
                </div>
            </div>
            <div class="settingElement">
                <div class="labelElement">
                    <label for="Max-File-Age">Max File Age: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                    <span id="Max-File-Age-Tooltip" class="tooltiptext">This is the help text.</span>
                </div>
                <div class="inputElement">
                    <input type="number" name="Max-File-Age" id="Max-File-Age">
                </div>
            </div>
        </div>
    </div>
</div>