<button id="Open-Web-Application-Core-Action-Button" class="core-action-buttons dark_mode_button" type="button" onclick="openModal()"><u>Open Web Application</u></button>
<button id="Copy-Web-Application-Core-Action-Button" class="core-action-buttons Web-Application-Button dark_mode_button" type="button" onclick="openCopyWebApplicationModal()"><u>Copy Web Application</u></button>
<button id="Save-Web-Application-Core-Action-Button" class="core-action-buttons Web-Application-Button dark_mode_button" type="button" onclick="configOkToSave()"><u>Save Web Application</u></button>