<div id="AlertModal" class="AlertModal">
    <div class="AlertModal-Container">
        <div id="AlertModal-TitleBar" class="AlertModal-TitleBar">
            <p>Web Application Copy Complete</p>
        </div>
        <div class="AlertModal-Body">
            <div id="AlertModal-Text" class="AlertModal-Text">
                <p id="AlertModal-Text-Paragraph"></p>
            </div>
            <div id="AlertModal-Button" class="AlertModal-Button">
                <button onclick="closeAlertModal()">OK</button>
            </div>
        </div>
    </div>
</div>