<?xml version="1.0"?>
<!--
Specify a list of Windows users or user groups that can access the 
OnBase Session Administration service to view all users connected 
to the OnBase server and to forcefully disconnect users from the server.
By default this right is revoked from all users. To enable this service, 
configure the Session Administration service to require 
Integrated Windows Authentication and explicitly name the Windows users
and user groups that are allowed to use the service.
To specify multiple users or roles, place the names in a comma-separated list.
-->
<sessionAdminSecurityConfiguration>
  <allow users=""/>
  <allow roles=""/>
</sessionAdminSecurityConfiguration>
