<div id="ProcessingWebConfigValuesProgress" class="ProcessingWebConfigValuesProgress">
    <div id="ProcessingWebConfigValuesProgress-Content" class="ProcessingWebConfigValuesProgress-Content dark_mode">
        <div id="ProcessingWebConfigValuesProgress-Section" class="ProcessingWebConfigValuesProgress-Section">
            <label id="ProcessingWebConfig-Label" class="ProcessingWebConfigValuesProgress-Label" for="ProcessingWebConfigValuesProgress-Bar"></label>
            <progress class="ProcessingWebConfigValuesProgress-Bar" id="ProcessingWebConfigValuesProgress-Bar"></progress>
        </div>
    </div>
</div>