<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Hyland.Services.Client" type="Hyland.Services.Client.ServiceClientConfiguration,Hyland.Services.Client" />
    <section name="Hyland.Logging" type="Hyland.Logging.Configuration.ClientConfigurationHandler,Hyland.Logging" />
    <section name="Hyland.Web.DashboardViewer" type="Hyland.Applications.Web.ConfigSections.ReportingViewerConfigSection, Hyland.Applications.Web" />
    <!--DevExpress config section-->
    <sectionGroup name="devExpress">
      <section name="themes" type="DevExpress.Web.ThemesConfigurationSection, DevExpress.Web.v17.1, Version=17.1.8.0, Culture=neutral, PublicKeyToken=1bf70af93a3bd45a" requirePermission="false" />
      <section name="compression" type="DevExpress.Web.CompressionConfigurationSection, DevExpress.Web.v17.1, Version=17.1.8.0, Culture=neutral, PublicKeyToken=1bf70af93a3bd45a" requirePermission="false" />
      <section name="settings" type="DevExpress.Web.SettingsConfigurationSection, DevExpress.Web.v17.1, Version=17.1.8.0, Culture=neutral, PublicKeyToken=1bf70af93a3bd45a" requirePermission="false" />
      <section name="errors" type="DevExpress.Web.ErrorsConfigurationSection, DevExpress.Web.v17.1, Version=17.1.8.0, Culture=neutral, PublicKeyToken=1bf70af93a3bd45a" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings file="version.xml">
    <!-- This setting controls if the server will accept only https connections or not. 
            If you set this to false all incoming requests have to be made over https. 
            If you set this to true then both http and https connections are accepted. 
            The recommended setting is false.-->
    <add key="AllowInsecureConnection" value="false" />
    <add key="dmsVirtualRoot" value="http://[HOSTNAME]/[VIRTUAL ROOT]" />
    <add key="dmsDataSource" value="[DATASOURCE NAME]" />
    <add key="dmsOEMProductName" value="OnBase" />
    <add key="ServerDesignation" value="" />
    <add key="webtheme" value="XP" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <!-- DashboardViewer Vars -->
  <!-- NOTE: If the user name and password is not set then user would be prompted to enter their login credentials -->
  <!-- username - Default login user name-->
  <!-- password - Default login password -->
  <!-- useTheme - Indicate what type of theme to use to display dashboards valid values are: dark, light -->
  <!-- enableExportDashboard - Determines if to display UI option to allow exporting a dashboard as image/pdf -->
  <!-- enableExportDashboardItems - Determines if to display UI option to allow exporting dashboard items as image/pdf -->
  <!-- acceptHttpParams - Set to true to allow setting the parameters from HTTP request query string (default false) -->
  <!-- enableAutoLogin - Allow automatic login if the server is set up for NT/SSO -->
  <!-- sessionTraceLevel - Set the session trace level (valid values are from 1-4) -->
  <!-- reportPagingLimit - Set the number of records that will appear per page for a report (minimum is 50) -->
  <Hyland.Web.DashboardViewer>
    <username value="" />
    <password value="" />
    <useTheme value="dark" />
    <enableExportDashboard value="true" />
    <enableExportDashboardItems value="true" />
    <acceptHttpParams value="false" />
    <enableAutoLogin value="false" />
    <sessionTraceLevel value="0" />
    <reportPagingLimit value="50" />
  </Hyland.Web.DashboardViewer>
  <Hyland.Services.Client>
    <!-- All Urls Must end with 'Service.rem' for Remoting or 'Service.asmx' for SOAP. -->
    <ApplicationServer Url="http://[HOSTNAME]/[VIRTUAL ROOT]/Service.rem" ServiceClientType="Remoting" />
    <!-- AllowNTAuthenticationOnForwarding if enabled, allows the web server to forward NT credentials 
        to the  Application Server. Only turn this flag on when using NT authentication. -->
    <AllowNTAuthenticationOnForwarding Enabled="false" />
    <!-- Use the optimized service pipeline for more efficient communication of results -->
    <OptimizedServicePipeline Enabled="True" />
    <!-- Determines how long the service client should wait for a response from the application server -->
    <RequestTimeoutSeconds Value="300" />
    <!-- This will regulate Streaming Services to a certain maximum buffer size no matter what the calling code asks for.-->
    <!--<StreamingSettings BufferSize="64000"/>-->
  </Hyland.Services.Client>
  <Hyland.Logging>
    <WindowsEventLogging sourcename="ASP.NET Web Client" />
    <Routes>
      <Route name="DiagnosticsConsole">
        <add key="Http" value="http://localhost:8989" />
        <!-- <add key="minimum-level" value="Trace" /> -->
      </Route>
      <Route name="ErrorEventLog">
        <!-- Write errors to the Event Log using the source specified above -->
        <add key="HylandLog" />
        <add key="minimum-level" value="Error" />
      </Route>
      <!--<Route name="ELK">
            <add key="Http" value="http://localhost:5586"/>
            <add key="CompactHttpFormat"/>
        </Route>-->
    </Routes>
    <AuditRoutes>
      <!--<Route name="DiagnosticsConsole">
            <add key="Http" value="http://localhost:8989" /> 
        </Route>-->
    </AuditRoutes>
  </Hyland.Logging>
  <configProtectedData>
    <providers>
      <add name="DpapiProvider" type="System.Configuration.DpapiProtectedConfigurationProvider,System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </providers>
  </configProtectedData>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2">
      <assemblies>
        <add assembly="DevExpress.Dashboard.v17.1.Web, Version=17.1.8.0, Culture=neutral, PublicKeyToken=1bf70af93a3bd45a" />
        <add assembly="DevExpress.Dashboard.v17.1.Core, Version=17.1.8.0, Culture=neutral, PublicKeyToken=1bf70af93a3bd45a" />
        <add assembly="DevExpress.Web.v17.1, Version=17.1.8.0, Culture=neutral, PublicKeyToken=1bf70af93a3bd45a" />
        <add assembly="DevExpress.Data.v17.1, Version=17.1.8.0, Culture=neutral, PublicKeyToken=1bf70af93a3bd45a" />
        <add assembly="DevExpress.DataAccess.v17.1, Version=17.1.8.0, Culture=neutral, PublicKeyToken=1bf70af93a3bd45a" />
        <add assembly="DevExpress.Office.v17.1.Core, Version=17.1.8.0, Culture=neutral, PublicKeyToken=1bf70af93a3bd45a" />
        <add assembly="DevExpress.Printing.v17.1.Core, Version=17.1.8.0, Culture=neutral, PublicKeyToken=1bf70af93a3bd45a" />
        <add assembly="DevExpress.Charts.v17.1.Core, Version=17.1.8.0, Culture=neutral, PublicKeyToken=1bf70af93a3bd45a" />
        <add assembly="DevExpress.RichEdit.v17.1.Core, Version=17.1.8.0, Culture=neutral, PublicKeyToken=1bf70af93a3bd45a" />
        <add assembly="DevExpress.Xpo.v17.1, Version=17.1.8.0, Culture=neutral, PublicKeyToken=1bf70af93a3bd45a" />
        <add assembly="DevExpress.Web.ASPxThemes.v17.1, Version=17.1.8.0, Culture=neutral, PublicKeyToken=1bf70af93a3bd45a" />
      </assemblies>
    </compilation>
    <!--  CUSTOM ERROR MESSAGES
              Set customErrors mode="On" or "RemoteOnly" to enable custom error messages, "Off" to disable. 
              Add <error> tags for each of the errors you want to handle.

              "On" Always display custom (friendly) messages.
              "Off" Always display detailed ASP.NET error information.
              "RemoteOnly" Display custom (friendly) messages only to users not running 
               on the local Web server. This setting is recommended for security purposes, so 
               that you do not display application detail information to remote clients.
        -->
    <customErrors mode="RemoteOnly" />
    <!--  AUTHENTICATION 
              This section sets the authentication policies of the application. Possible modes are "Windows", 
              "Forms", "Passport" and "None"

              "None" No authentication is performed. 
              "Windows" IIS performs authentication (Basic, Digest, or Integrated Windows) according to 
               its settings for the application. Anonymous access must be disabled in IIS. 
              "Forms" You provide a custom form (Web page) for users to enter their credentials, and then 
               you authenticate them in your application. A user credential token is stored in a cookie.
              "Passport" Authentication is performed via a centralized authentication service provided
               by Microsoft that offers a single logon and core profile services for member sites.
        -->
    <authentication mode="Windows" />
    <!--  AUTHORIZATION 
              This section sets the authorization policies of the application. You can allow or deny access
              to application resources by user or role. Wildcards: "*" mean everyone, "?" means anonymous 
              (unauthenticated) users.
        -->
    <authorization>
      <allow users="*" />
      <!-- Allow all users -->
      <!--  <allow     users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
                  <deny      users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
            -->
    </authorization>
    <!--  APPLICATION-LEVEL TRACE LOGGING
              Application-level tracing enables trace log output for every page within an application. 
              Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
              trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
              application trace log by browsing the "trace.axd" page from your web application
              root. 
        -->
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
    <!--  SESSION STATE SETTINGS
              By default ASP.NET uses cookies to identify which requests belong to a particular session. 
              If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
              To disable cookies, set sessionState cookieless="true".
        -->
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20" />
    <!--  HTTPRUNTIME
              By default the maximum size a request may be is 4096 KB.  If files larger than 4096 KB (4 MB)
              need to be uploaded increase the size of the maxRequestLength.  MaxRequestLength value is in KiloBytes.
              By default the maximum number of seconds that a request is allowed to execute is 90 seconds.
              If uploading large documents, the executionTimeout value may need to be increased for proper processing.
      
              If uploads larger than 30MB are required, maxRequestLength in the application server's web.config must also be increased.
              If uploads larger than 30MB are required and IIS7 or greater is being used, additional changes are required.
              Refer to the maxAllowedContentLength comments for information regarding the changes.
          -->
    <!--  GLOBALIZATION
              This section sets the globalization settings of the application. 
        -->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
    <!-- WARNING - Do not set this value below 4MB or uploads over 4MB will fail - WARNING -->
    <httpRuntime targetFramework="4.7.2" requestValidationMode="2.0" maxRequestLength="4096" executionTimeout="90" enableVersionHeader="false" />
    <httpModules>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v17.1, Version=17.1.8.0, Culture=neutral, PublicKeyToken=1bf70af93a3bd45a" name="ASPxHttpHandlerModule" />
    </httpModules>
    <httpHandlers>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v17.1, Version=17.1.8.0, Culture=neutral, PublicKeyToken=1bf70af93a3bd45a" verb="GET,POST" path="DX.ashx" validate="false" />
      <add verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v17.1, Version=17.1.8.0, Culture=neutral, PublicKeyToken=1bf70af93a3bd45a" />
    </httpHandlers>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000"></jsonSerialization>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <httpProtocol>
      <customHeaders>
        <remove name="X-AspNet-Version" />
        <remove name="X-AspNetMvc-Version" />
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
    <modules>
      <!-- Required by DevExpress -->
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v17.1, Version=17.1.8.0, Culture=neutral, PublicKeyToken=1bf70af93a3bd45a" name="ASPxHttpHandlerModule" />
      <!--The format for this section should additionally contain the preCondition attribute.-->
      <add name="OnBaseContextModule" type="Hyland.Server.Diagnostics.OnBaseContextModule, Hyland.Server" preCondition="managedHandler" />
      <!-- The following two modules are required for ADFS -->
      <!--add name="WSFederationAuthenticationModule" type="System.IdentityModel.Services.WSFederationAuthenticationModule, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="managedHandler" /-->
      <!--add name="SessionAuthenticationModule" type="System.IdentityModel.Services.SessionAuthenticationModule, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="managedHandler" /-->
      <!-- Http Trace -->
    </modules>
    <handlers>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v17.1, Version=17.1.8.0, Culture=neutral, PublicKeyToken=1bf70af93a3bd45a" verb="GET,POST" path="DX.ashx" name="ASPxHttpHandlerModule" preCondition="integratedMode" />
      <add name="UnloadHandler.ashx_*" path="UnloadHandler.ashx" verb="*" type="Hyland.Applications.Web.WindowsManager.UnloadHandler, Hyland.Applications.Web" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="Login.ashx_*" path="Login.ashx" verb="*" type="Hyland.Controls.Web.Login.LoginHandler,Hyland.Controls.Web" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="CalendarProvider.ashx_*" path="CalendarProvider.ashx" verb="*" type="Hyland.Controls.Web.Calendar.CalendarProvider,Hyland.Controls.Web" preCondition="integratedMode,runtimeVersionv4.0" />
      <!-- Http Trace -->
      <add name="ASPxUploadProgressHandler" preCondition="integratedMode" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v17.1, Version=17.1.8.0, Culture=neutral, PublicKeyToken=1bf70af93a3bd45a" />
    </handlers>
    <!--This setting only applies to IIS7 and greater-->
    <!--The Request Filtering module will reject requests larger than 30MB by default.-->
    <!--If IIS7 or greater is being used and uploads larger than 30MB are expected, maxAllowedContentLength as well as maxRequestLength must be increased.-->
    <!--Uploads that are below maxAllowedContentLength but above maxRequestLength will display a friendly error message to the user.-->
    <!--Uploads that are above maxAllowedContentLength will be rejected and a 404 error will occur.-->
    <!--Therefore, this value (in bytes) should be larger and not equal to maxRequestLength (in kilobytes) or users will not receive a friendly error message.-->
    <!--Uncomment the section below and enter the value as needed.-->
    <!--This setting should be changed in both the web and application server's web.config.-->
    <!-- WARNING - Do not set this value below 4MB or uploads over 4MB will fail - WARNING -->
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="30000000" />
      </requestFiltering>
    </security>
    <!--Defines the default documents to use for IIS7 and greater-->
    <!--IIS7 and greater will store the configuration here instead of the metabase used in previous versions of IIS.-->
    <defaultDocument>
      <files>
        <clear />
        <add value="Viewer.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="24" />
    </connectionManagement>
  </system.net>
  <system.diagnostics>
    <switches>
      <!-- 
        This switch controls tracing globally through Hyland.Logging.
        It configures the level of information from Trace that is logged.
        For no information set the value to zero. Set the value to 1, 2, 3, or 4 for
        minimal, normal, detailed, or verbose messages, respectively.
        -->
      <add name="hylandTracing" value="0" />
    </switches>
  </system.diagnostics>
  <devExpress>
    <themes enableThemesAssembly="true" styleSheetTheme="" theme="" customThemeAssemblies="" />
    <compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="true" />
    <settings doctypeMode="Xhtml" rightToLeft="false" />
    <errors callbackErrorRedirectUrl="" />
  </devExpress>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.1.0" newVersion="2.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.1.0" newVersion="2.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Configuration.ConfigurationManager" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>