<p class="LinksHeader">IIS Configuration</p>
<div class="core-section-buttons">
    <div class="core-section-buttons-outer">
        <div class="core-section-buttons-inner">
            <ul class="LinksList">
                <li id="IISApplicationLink-SettingElement"><a class="dark_mode_links" id="IISApplicationLink" href="javascript:openSection('IISApplication')">IIS Application</a></li>
                <li id="IISApplicationPoolLink-SettingElement"><a class="dark_mode_links" id="IISApplicationPoolLink" href="javascript:openSection('IISApplicationPool')">IIS Application Pool</a></li>
            </ul>
        </div>
    </div>
</div>