<div class="connectionStringTestModal" id="connectionStringTestModal">
    <div id="connectionStringTestModal-content" class="connectionStringTestModal-content" style="">
        @* <div>
        <p style="font:large;font-weight:bold;">Testing your connection string.</p>
        </div> *@
        <label style="font-size:xx-large;font-weight:bold;" for="connectionStringTestModal-ProgressBar">Testing your connection string...</label>
        <progress style="height:2.5rem;width:25rem;" id="connectionStringTestModal-ProgressBar"></progress>
    </div>
</div>