<div id="MiscellaneousSection" class="tabcontent">
    <div class="row">
        <div class="column">
            <div class="sectionWithTitleBar">
                <div class="titleBar" name="Title-Bar">
                    Content Composer
                </div>
                <div class="coreSection">
                    <div class="settingElement">
                        <div class="labelElement">
                            <label for="Content-Composer-IdP-Path">Content Composer IdP Path: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                            <span id="Content-Composer-IdP-Path-Tooltip" class="tooltiptext">This is the help text.</span>
                        </div>
                        <div class="inputElement">
                            <input type="text" name="Content-Composer-IdP-Path" id="Content-Composer-IdP-Path">
                        </div>
                    </div>
                </div>
            </div>
            <div class="sectionWithTitleBar">
                <div class="titleBar" name="Title-Bar">
                    Statement Composition
                </div>
                <div class="coreSection">
                    <div class="settingElement">
                        <div class="labelElement">
                            <label for="Statement-Composition-Cache-Limit">Statement Composition Cache Limit: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                            <span id="Statement-Composition-Cache-Limit-Tooltip" class="tooltiptext">This is the help text.</span>
                        </div>
                        <div class="inputElement">
                            <input type="number" name="Statement-Composition-Cache-Limit" id="Statement-Composition-Cache-Limit">
                        </div>
                    </div>
                </div>
            </div>
            <div class="sectionWithTitleBar">
                <div class="titleBar" name="Title-Bar">
                    Message Broker
                </div>
                <div class="coreSection">
                    <div class="settingElement">
                        <div class="labelElement">
                            <label for="Message-Broker-Monitor-Start-Delay">Message Broker Monitor Start Delay(Minutes): </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                            <span id="Message-Broker-Monitor-Start-Delay-Tooltip" class="tooltiptext">This is the help text.</span>
                        </div>
                        <div class="inputElement">
                            <input type="number" name="Message-Broker-Monitor-Start-Delay" id="Message-Broker-Monitor-Start-Delay">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="sectionWithTitleBar">
                <div class="titleBar" name="Title-Bar">
                    Data Capture Server
                </div>
                <div class="coreSection">
                    <div class="settingElement">
                        <div class="labelElement">
                            <label for="Data-Capture-Server-WCF-Endpoint-Address">Data Capture Server WCF Endpoint Address: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                            <span id="Data-Capture-Server-WCF-Endpoint-Address-Tooltip" class="tooltiptext">This is the help text.</span>
                        </div>
                        <div class="inputElement">
                            <input type="text" name="Data-Capture-Server-WCF-Endpoint-Address" id="Data-Capture-Server-WCF-Endpoint-Address">
                        </div>
                    </div>
                </div>
            </div>
            <div class="sectionWithTitleBar">
                <div class="titleBar" name="Title-Bar">
                    Governance Rules As A Service
                </div>
                <div class="coreSection">
                    <div class="settingElement">
                        <div class="labelElement">
                            <span>Governance Rules As A Service Endpoint: </span><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                            <span id="Governance-Rules-As-A-Service-Endpoint-Tooltip" class="tooltiptext">This is the help text.</span>
                        </div>
                        <div class="inputElement">
                            <label for="Governance-Rules-As-A-Service-Endpoint" class="switch">
                                <input id="Governance-Rules-As-A-Service-Endpoint" type="checkbox">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <div class="settingElement">
                <div class="labelElement">
                    <label for="Default-Storage-Path">Default Storage Path: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                    <span id="Default-Storage-Path-Tooltip" class="tooltiptext">This is the help text.</span>
                </div>
                <div class="inputElement">
                    <input type="text" name="Default-Storage-Path" id="Default-Storage-Path">
                </div>
            </div>
            <div class="settingElement">
                <div class="labelElement">
                    <span>Enable Isolated Chromium Process: </span><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                    <span id="Enable-Isolated-Chromium-Process-Tooltip" class="tooltiptext">This is the help text.</span>
                </div>
                <div class="inputElement">
                    <label for="Enable-Isolated-Chromium-Process" class="switch">
                        <input id="Enable-Isolated-Chromium-Process" type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
            <div class="settingElement">
                <div class="labelElement">
                    <label for="TPCF-Worker-Location-Override">TPCF Worker Location Override: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                    <span id="TPCF-Worker-Location-Override-Tooltip" class="tooltiptext">This is the help text.</span>
                </div>
                <div class="inputElement">
                    <input type="text" name="TPCF-Worker-Location-Override" id="TPCF-Worker-Location-Override">
                </div>
            </div>
            <div class="settingElement">
                <div class="labelElement">
                    <span>Sesame Enpoint: </span><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                    <span id="Sesame-Endpoint-Tooltip" class="tooltiptext">This is the help text.</span>
                </div>
                <div class="inputElement">
                    <label for="Sesame-Endpoint" class="switch">
                        <input id="Sesame-Endpoint" type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
            <div class="settingElement" id="PIM:HyRCS:ExternalBaseUri-SettingElement">
                <div class="labelElement">
                    <label for="PIM:HyRCS:ExternalBaseUri">PIM:HyRCS:ExternalBaseUri: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                    <span id="PIM:HyRCS:ExternalBaseUri-Tooltip" class="tooltiptext">This is the help text.</span>
                </div>
                <div class="inputElement">
                    <input type="text" name="PIM:HyRCS:ExternalBaseUri" id="PIM:HyRCS:ExternalBaseUri">
                </div>
            </div>
            <div class="settingElement" id="PIM:HyRCS:Port-SettingElement">
                <div class="labelElement">
                    <label for="PIM:HyRCS:Port">PIM:HyRCS:Port: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                    <span id="PIM:HyRCS:Port-Tooltip" class="tooltiptext">This is the help text.</span>
                </div>
                <div class="inputElement">
                    <input type="text" name="PIM:HyRCS:Port" id="PIM:HyRCS:Port">
                </div>
            </div>
            <div class="settingElement" id="PIM:ImageProcess-SettingElement">
                <div class="labelElement">
                    <span>PIM:ImageProcess: </span><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                    <span id="PIM:ImageProcess-Tooltip" class="tooltiptext">This is the help text.</span>
                </div>
                <div class="inputElement">
                    <label for="PIM:ImageProcess" class="switch">
                        <input id="PIM:ImageProcess" type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
            <div class="settingElement" id="PIM:ChromiumProcess-SettingElement">
                <div class="labelElement">
                    <span>PIM:ChromiumProcess: </span><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                    <span id="PIM:ChromiumProcess-Tooltip" class="tooltiptext">This is the help text.</span>
                </div>
                <div class="inputElement">
                    <label for="PIM:ChromiumProcess" class="switch">
                        <input id="PIM:ChromiumProcess" type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="settingElement">
                <div class="labelElement">
                    <span>Use Isolated Image Process: </span><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                    <span id="Use-Isolated-Image-Process-Tooltip" class="tooltiptext">This is the help text.</span>
                </div>
                <div class="inputElement">
                    <label for="Use-Isolated-Image-Process" class="switch">
                        <input id="Use-Isolated-Image-Process" type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
            <div class="settingElement">
                <div class="labelElement">
                    <span>Use OnBase Full Text: </span><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                    <span id="Use-OnBase-Full-Text-Tooltip" class="tooltiptext">This is the help text.</span>
                </div>
                <div class="inputElement">
                    <label for="Use-OnBase-Full-Text" class="switch">
                        <input id="Use-OnBase-Full-Text" type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
            <div class="settingElement">
                <div class="labelElement">
                    <label for="Keyword-Data-Cache-Timeout">Keyword Data Cache Timeout: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                    <span id="Keyword-Data-Cache-Timeout-Tooltip" class="tooltiptext">This is the help text.</span>
                </div>
                <div class="inputElement">
                    <input type="number" name="Keyword-Data-Cache-Timeout" id="Keyword-Data-Cache-Timeout">
                </div>
            </div>
            <div class="settingElement">
                <div class="labelElement">
                    <label for="Identity-Model-Server-URI">Identity Model Server URI: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                    <span id="Identity-Model-Server-URI-Tooltip" class="tooltiptext">This is the help text.</span>
                </div>
                <div class="inputElement">
                    <input type="url" name="Identity-Model-Server-URI" id="Identity-Model-Server-URI">
                </div>
            </div>
            <div class="settingElement">
                <div class="labelElement">
                    <span>Allow Insecure External XSL: </span><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                    <span id="Allow-Insecure-External-XSL-Tooltip" class="tooltiptext">This is the help text.</span>
                </div>
                <div class="inputElement">
                    <label for="Allow-Insecure-External-XSL" class="switch">
                        <input id="Allow-Insecure-External-XSL" type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
            <div class="settingElement" id="Use-New-Keyword-Data-Cache-Implementation-SettingElement">
                <div class="labelElement">
                    <span>Use New Keyword Data Cache Implementation: </span><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                    <span id="Use-New-Keyword-Data-Cache-Implementation-Tooltip" class="tooltiptext">This is the help text.</span>
                </div>
                <div class="inputElement">
                    <label for="Use-New-Keyword-Data-Cache-Implementation" class="switch">
                        <input id="Use-New-Keyword-Data-Cache-Implementation" type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
            <div class="settingElement" id="Configuration-Import-Database-Timeout-SettingElement">
                <div class="labelElement">
                    <label for="Configuration-Import-Database-Timeout">Configuration Import Database Timeout: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                    <span id="Configuration-Import-Database-Timeout-Tooltip" class="tooltiptext">This is the help text.</span>
                </div>
                <div class="inputElement">
                    <input type="number" name="Configuration-Import-Database-Timeout" id="Configuration-Import-Database-Timeout">
                </div>
            </div>
            <div class="settingElement" id="HyRCS:PageCountLimit-SettingElement">
                <div class="labelElement">
                    <label for="HyRCS:PageCountLimit">HyRCS:PageCountLimit: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                    <span id="HyRCS:PageCountLimit-Tooltip" class="tooltiptext">This is the help text.</span>
                </div>
                <div class="inputElement">
                    <input type="number" name="HyRCS:PageCountLimit" id="HyRCS:PageCountLimit">
                </div>
            </div>
        </div>
    </div>
</div>