<div id="PacketPopSection" class="tabcontent">
    <div class="row">
        <p class="BlockDescription">The following settings are specfic to PacketPop. The only required key is Data Source, which can be configured here or passed in a query string.</p>
    </div>
    <div class="row">
        <div class="column">
            <div class="settingElement">
                <div class="labelElement">
                    <label for="PacketPop-Data-Source">Default Data Source: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                    <span id="PacketPop-Data-Source-Tooltip" class="tooltiptext">This is the help text.</span>
                </div>
                <div class="inputElement">
                    <input type="text" name="PacketPop-Data-Source" id="PacketPop-Data-Source">
                </div>
            </div>
        </div>
        <div class="column">
            <div class="sectionWithTitleBar">
                <div class="titleBar" name="Title-Bar">
                    Checksum
                </div>
                <div class="coreSection">
                    <div class="settingElement">
                        <div class="labelElement">
                            <span>Validate Against Checksum: </span><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                            <span id="PacketPop-Validate-Against-Checksum-Tooltip" class="tooltiptext">This is the help text.</span>
                        </div>
                        <div class="inputElement">
                            <label for="PacketPop-Validate-Against-Checksum" class="switch">
                                <input id="PacketPop-Validate-Against-Checksum" type="checkbox">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                    <div class="settingElement">
                        <div class="labelElement">
                            <label for="PacketPop-Checksum-Key">Checksum Key: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                            <span id="PacketPop-Checksum-Key-Tooltip" class="tooltiptext">This is the help text.</span>
                        </div>
                        <div class="inputElement">
                            <input type="text" name="PacketPop-Checksum-Key" id="PacketPop-Checksum-Key">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>