<div id="ShareBaseSection" class="tabcontent">
    <div class="row">
        <p class="BlockDescription"></p>
        <div class="column">
            <div class="settingElement">
                <div class="labelElement">
                    <label for="Max-Query-Execution-Parallelism">Max Queries to run in Parallel: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                    <span id="Max-Query-Execution-Parallelism-Tooltip" class="tooltiptext">This is the help text.</span>
                </div>
                <div class="inputElement">
                    <input type="number" name="Max-Query-Execution-Parallelism" id="Max-Query-Execution-Parallelism">
                </div>
            </div>
            <div class="settingElement">
                <div class="labelElement">
                    <label for="Folder-Fetch-Batch-Size">Folder Fetch Batch Size: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                    <span id="Folder-Fetch-Batch-Size-Tooltip" class="tooltiptext">This is the help text.</span>
                </div>
                <div class="inputElement">
                    <input type="number" name="Folder-Fetch-Batch-Size" id="Folder-Fetch-Batch-Size">
                </div>
            </div>
        </div>
        <div class="column">
            <div class="settingElement">
                <div class="labelElement">
                    <label for="Database-Command-TimeOut">Database Command Timeout (seconds): </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                    <span id="Database-Command-TimeOut-Tooltip" class="tooltiptext">This is the help text.</span>
                </div>
                <div class="inputElement">
                    <input type="number" name="Database-Command-TimeOut" id="Database-Command-TimeOut">
                </div>
            </div>
        </div>
    </div>
</div>