<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="Hyland.Services.Client" type="Hyland.Services.Client.ServiceClientConfiguration,Hyland.Services.Client" />
		<section name="Hyland.Logging" type="Hyland.Logging.Configuration.ClientConfigurationHandler,Hyland.Logging" />
		<section name="Hyland.Web.HealthcarePop" type="Hyland.Applications.Web.ConfigSections.HealthcarePopConfigSection, Hyland.Applications.Web" />
		<!-- ADFS sections -->
		<section name="Hyland.Authentication" type="Hyland.Authentication.Configuration.AuthenticationConfigurationSection, Hyland.Authentication" />
		<section name="system.identityModel" type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
		<section name="system.identityModel.services" type="System.IdentityModel.Services.Configuration.SystemIdentityModelServicesSection, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
		<!-- End ADFS sections -->
	</configSections>

	<Hyland.Services.Client>
		<!-- All Urls Must end with 'Service.rem' for Remoting or 'Service.asmx' for SOAP. -->
		<ApplicationServer Url="https://localhost/AppServer/Service.asmx" ServiceClientType="SOAP" />
		<!-- AllowNTAuthenticationOnForwarding if enabled, allows the web server to forward NT credentials 
				to the  Application Server. Only turn this flag on when using NT authentication. -->
		<AllowNTAuthenticationOnForwarding Enabled="false" />
		<!-- This will regulate Streaming Services to a certain maximum buffer size no matter what the calling code asks for.-->
		<!--<StreamingSettings BufferSize="64000"/>-->
	</Hyland.Services.Client>

	<appSettings file="version.xml">
    <add key="allowedDomain" value="[APP SERVER]" />
		<add key="dmsVirtualRoot" value="https://CFHOBAPPUPG1/HealthcareFormManager" />
		<add key="dmsDataSource" value="OnBaseUPG" />
		<add key="AllowViewSource" value="false" />
		<!-- Session timout variables -->
		<add key="EnableSessionExpiration" value="true" />
		<add key="PromptOnSessionExpire" value="true" />
		<add key="webtheme" value="XP" />
		<add key="default_username" value="" />
		<add key="default_password" value="" />
		<!-- The enableDefaultLogin key will bypass the login ui and automatically login using default_username and default_password. -->
		<add key="enableDefaultLogin" value="false" />
		<add key="EnableAutoLogin" value="false" />
		<add key="IdPUrl" value="" />
		<add key="forceSSOAutoLoginOverDomain" value="false" />

		<!--
		The EnableActiveX key has been removed and replaced by WebClientType.
		Valid values are:
							activex | html | selectable
		"activex" will enable the ActiveX web client.
		"html" will enable the HTML Only web client.
		"selectable" will provide users an option upon login to select which
					 client type (ActiveX or HTML Only) to use.
		-->
		<add key="WebClientType" value="html" />

		<!--Settings respected by ULC controls-->
		<add key="enableRowColoring" value="true" />
		<!-- This setting controls if the server will accept only https connections or not. 
				 If you set this to false all incoming requests have to be made over https. 
				 If you set this to true then both http and https connections are accepted. 
				 The recommended setting is false.-->
		<add key="AllowInsecureConnection" value="false" />
		<!-- Preventing caching will impact Viewer performance -->
		<add key="PreventViewerClientCaching" value="true" />
	</appSettings>

	<Hyland.Web.HealthcarePop>
		<EnableChecksum value="false" />
		<ChecksumKey value="" />
		<EnableLegacyChecksumFallback value="false" />
	</Hyland.Web.HealthcarePop>

	<Hyland.Logging>
		<WindowsEventLogging sourcename="Hyland Application Server" />
		<Routes>
			<Route name="DiagnosticsConsole">
				<add key="Http" value="http://localhost:8989" />
				<!-- <add key="minimum-level" value="Trace" /> -->
			</Route>
			<Route name="ErrorEventLog">
				<!-- Write errors to the Event Log using the source specified above -->
				<add key="HylandLog" />
				<add key="minimum-level" value="Error" />
			</Route>
			<!--<Route name="ELK">
            <add key="Http" value="http://localhost:5586"/>
            <add key="CompactHttpFormat"/>
        </Route>-->
		</Routes>
		<AuditRoutes>
			<!--<Route name="DiagnosticsConsole">
            <add key="Http" value="http://localhost:8989" /> 
        </Route>-->
		</AuditRoutes>
	</Hyland.Logging>

	<Hyland.Authentication>
		<adfs enabled="false" />
	</Hyland.Authentication>

	<system.diagnostics>
		<switches>
			<!--
      This switch controls tracing globally through Hyland.Logging.
      It configures the level of information from Trace that is logged.
      For no information set the value to zero. Set the value to 1, 2, 3, or 4 for
      minimal, normal, detailed, or verbose messages, respectively.
      -->
			<add name="hylandTracing" value="0" />
		</switches>
	</system.diagnostics>

	<configProtectedData>
		<providers>
			<add name="DpapiProvider" type="System.Configuration.DpapiProtectedConfigurationProvider,System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
		</providers>
	</configProtectedData>

	<system.web>
		<compilation debug="false" targetFramework="4.7.2">
			<assemblies>
				<add assembly="netstandard, Version=2.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" />
			</assemblies>
		</compilation>
		<!--
			SESSION STATE SETTINGS
		-->
		<sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" cookieSameSite="Lax" timeout="20" />
		<!--
		For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

		The following attributes can be set on the <httpRuntime> tag.
			<system.Web>
				<httpRuntime targetFramework="4.7.2" />
			</system.Web>
		-->
		<!--  HTTPRUNTIME
			By default the maximum size a request may be is 4096 KB.  If files larger than 4096 KB (4 MB)
			need to be uploaded increase the size of the maxRequestLength.  MaxRequestLength value is in KiloBytes.
			By default the maximum number of seconds that a request is allowed to execute is 90 seconds.
			If uploading large documents, the executionTimeout value may need to be increased for proper processing.

			If uploads larger than 30MB are required, maxRequestLength in the application server's web.config must also be increased.
			If uploads larger than 30MB are required and IIS7 or greater is being used, additional changes are required.
			Refer to the maxAllowedContentLength comments for information regarding the changes.
		-->
		<!-- WARNING - Do not set this value below 4MB or uploads over 4MB will fail - WARNING -->
		<httpRuntime requestValidationMode="2.0" maxRequestLength="4096" executionTimeout="90" enableVersionHeader="false" />
		<!--  GLOBALIZATION
					This section sets the globalization settings of the application. 
		-->
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" />
		<!-- IDENTITY
		By setting impersonate="true" the username and password set in the registry will be used
		when the application is started.

		For Healthcare Form Manager, impersonation is (most likely) not needed. The default account of
		NetworkService or ApplicationPoolIdentity should have the proper file permissions and network
		permissions to communicate with the Application Server.

		Use Impersonation on the Application Server for proper NTFS file security.
		When using NT Authentication, LDAP Authentication, Active Directory Authentication, and certain SSOs
		the Application Server will require a user with additional permissions to complete user authentication.

		Use aspnet_setreg.exe to encrypt and set the username and password in the registry.
		aspnet_setreg -k:SOFTWARE\Hyland\AppNet\Identity -u:<domain>\<username> -p:<password>

		NOTE: Each time aspnet_setreg.exe is run, the security on the registry key is restored to the default.
		If using x64 regedit, search with the Wow6432Node in the key path. If the x86 version is used, this is unnecessary.
		Use regedit to update HKLM:SOFTWARE\Hyland\AppNet\Identity\ASPNET_SETREG key to allow read permissions
		by the identity running the Application Pool.
		-->
		<!--
		<identity impersonate="false"
			userName="registry:HKLM\SOFTWARE\Wow6432Node\Hyland\AppNet\Identity\ASPNET_SETREG,userName"
			password="registry:HKLM\SOFTWARE\Wow6432Node\Hyland\AppNet\Identity\ASPNET_SETREG,password"
			/>
		-->
		<!-- Authentication and Authorization sections for ADFS -->
		<!--
		<authentication mode="None" />
		<authorization>
			<deny users="?" />
		</authorization>
		-->
		<webServices>
			<!-- The web services HTTP POST protocol is disabled by default in .NET 1.1 and above.
				 The following entry enables the protocol and is required by Hyland Services -->
			<protocols>
				<add name="HttpPost" />
			</protocols>
			<!-- SOAP Extensions for ADFS -->
			<!--
			<soapExtensionTypes>
				<add type="Hyland.Authentication.ADFS.CustomADFSAuthSoapExtension, Hyland.Authentication" />
			</soapExtensionTypes>
			-->
		</webServices>
		<pages validateRequest="true" controlRenderingCompatibilityVersion="4.0" />
		<httpCookies httpOnlyCookies="true" requireSSL="true" />
	</system.web>
	
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true">
			<!--The format for this section should additionally contain the preCondition attribute.-->
			<add name="OnBaseContextModule" type="Hyland.Server.Diagnostics.OnBaseContextModule, Hyland.Server" preCondition="managedHandler" />
			<!-- The following two modules are required for ADFS -->
			<!--add name="WSFederationAuthenticationModule" type="System.IdentityModel.Services.WSFederationAuthenticationModule, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="managedHandler" /-->
			<!--add name="SessionAuthenticationModule" type="System.IdentityModel.Services.SessionAuthenticationModule, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="managedHandler" /-->
		</modules>
		<validation validateIntegratedModeConfiguration="false" />
		<handlers accessPolicy="Read, Script">
			<add name="Login.ashx_*" path="Login.ashx" verb="*" type="Hyland.Controls.Web.Login.LoginHandler,Hyland.Controls.Web" preCondition="integratedMode,runtimeVersionv4.0" />
			<!-- Windows Manager Dependencies -->
			<add name="WindowDirector.ashx_*" path="WindowDirector.ashx" verb="*" type="Hyland.Applications.Web.WindowsManager.WindowDirector,Hyland.Applications.Web" preCondition="integratedMode,runtimeVersionv4.0" />
			<!-- Viewer Dependencies -->
			<add name="OptimizedServicePipeline.ashx_*" path="OptimizedServicePipeline.ashx" verb="*" type="Hyland.Applications.Web.OptimizedServicePipelineProxy, Hyland.Applications.Web" preCondition="integratedMode,runtimeVersionv4.0" />
			<add name="DownloadHandler.ashx_*" path="DownloadHandler.ashx" verb="*" type="Hyland.Applications.Web.DownloadHandlerProxy, Hyland.Applications.Web" preCondition="integratedMode,runtimeVersionv4.0" />
			<add name="FormProc.ashx_*" path="FormProc.ashx" verb="*" type="Hyland.Applications.Web.Handlers.FormProc, Hyland.Applications.Web" preCondition="integratedMode,runtimeVersionv4.0" />
			<add name="DocumentActionHandler.ashx_*" path="DocumentActionHandler.ashx" verb="*" type="Hyland.Applications.Web.Handlers.DocumentActionHandler,Hyland.Applications.Web" preCondition="integratedMode,runtimeVersionv4.0" />
			<add name="NoteType.ashx_*" verb="*" path="NoteType.ashx" type="Hyland.Applications.Web.Client.Controls.NoteType,Hyland.Applications.Web.Client" preCondition="integratedMode,runtimeVersionv4.0" />
			<add name="DocumentDataHandler.ashx_*" path="DocumentDataHandler.ashx" verb="*" type="Hyland.Applications.Web.Handlers.DocumentDataHandler,Hyland.Applications.Web" preCondition="integratedMode,runtimeVersionv4.0" />
			<add name="PrintHandler.ashx_*" path="PrintHandler.ashx" verb="*" type="Hyland.Controls.Web.PrintHandler,Hyland.Controls.Web" preCondition="integratedMode,runtimeVersionv4.0" />
			<add name="NoteHandler.ashx_*" path="NoteHandler.ashx" verb="*" type="Hyland.Controls.Web.NoteHandler,Hyland.Controls.Web" preCondition="integratedMode,runtimeVersionv4.0" />
			<add name="GVCDocActions.ashx_*" path="GVCDocActions.ashx" verb="*" type="Hyland.Controls.Web.GenericViewer.GVCDocActions,Hyland.Controls.Web" preCondition="integratedMode,runtimeVersionv4.0" />
			<add name="PdfHandler.ashx_*" path="PdfHandler.ashx" verb="*" type="Hyland.Controls.Web.GenericViewer.PdfHandler,Hyland.Controls.Web" preCondition="integratedMode,runtimeVersionv4.0" />
			<add name="OleHandler.ashx_*" path="OleHandler.ashx" verb="*" type="Hyland.Controls.Web.GenericViewer.OleHandler,Hyland.Controls.Web" preCondition="integratedMode,runtimeVersionv4.0" />
			<add name="IDOLDocumentHandler.ashx_*" path="IDOLDocumentHandler.ashx" verb="*" type="Hyland.Controls.Web.GenericViewer.IDOLDocumentHandler,Hyland.Controls.Web" preCondition="integratedMode,runtimeVersionv4.0" />
			<add name="FileServiceHandler.ashx_*" path="FileServiceHandler.ashx" verb="*" type="Hyland.Controls.Web.FileServiceHandler,Hyland.Controls.Web" preCondition="integratedMode,runtimeVersionv4.0" />
			<add name="MarkupLanguageHandler.ashx_*" path="MarkupLanguageHandler.ashx" verb="*" type="Hyland.Controls.Web.GenericViewer.MarkupLanguageHandler,Hyland.Controls.Web" preCondition="integratedMode,runtimeVersionv4.0" />
			<add name="ThumbnailHandler.ashx_GET" path="ThumbnailHandler.ashx" verb="GET" type="Hyland.Controls.Web.Viewer.ThumbnailHandler,Hyland.Controls.Web" preCondition="integratedMode,runtimeVersionv4.0" />
			<add name="ImageHandler.ashx_GET" path="ImageHandler.ashx" verb="GET" type="Hyland.Controls.Web.Viewer.ImageHandler,Hyland.Controls.Web" preCondition="integratedMode,runtimeVersionv4.0" />
			<add name="UnityFormHandler.ashx_*" path="UnityFormHandler.ashx" verb="*" type="Hyland.Applications.Web.Handlers.UnityFormHandler, Hyland.Applications.Web" preCondition="integratedMode,runtimeVersionv4.0" />
			<add name="HttpServiceHandler.ashx_*" path="HttpServiceHandler.ashx" verb="*" type="Hyland.Applications.Web.HttpServiceHandlerProxy, Hyland.Applications.Web" preCondition="integratedMode,runtimeVersionv4.0" />
			<add name="UnloadHandler.ashx_*" path="UnloadHandler.ashx" verb="*" type="Hyland.Applications.Web.WindowsManager.UnloadHandler, Hyland.Applications.Web" preCondition="integratedMode,runtimeVersionv4.0" />
			<add name="ImageProvider.ashx_*" path="ImageProvider.ashx" verb="*" type="Hyland.Controls.Web.GenericViewer.UtilityControls.ImageViewer.ImageProvider,Hyland.Controls.Web" preCondition="integratedMode,runtimeVersionv4.0" />
			<add name="ExceptionMessage.ashx_*" path="ExceptionMessage.ashx" verb="*" type="Hyland.Applications.Web.HealthcareFormManager.ExceptionMessageHandler,Hyland.Applications.Web.HealthcareFormManager" preCondition="integratedMode,runtimeVersionv4.0" />
			<add name="ScriptExceptionHandler.ashx_*" path="ScriptExceptionHandler.ashx" verb="*" type="Hyland.Applications.Web.Handlers.ScriptExceptionHandler,Hyland.Applications.Web" preCondition="integratedMode,runtimeVersionv4.0" />
			<add name="ChartSearchHandler.ashx_*" path="ChartSearchHandler.ashx" verb="*" type="Hyland.Applications.Web.HealthcareFormManager.Controls.Search.ChartSearchHandler,Hyland.Applications.Web.HealthcareFormManager" preCondition="integratedMode,runtimeVersionv4.0" />
			<add name="UniversalListControlHandler.ashx_*" path="UniversalListControlHandler.ashx" verb="*" type="Hyland.Applications.Web.HealthcareFormManager.Controls.UniversalListControlHandler,Hyland.Applications.Web.HealthcareFormManager" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
		<!--The Request Filtering module will reject requests larger than 30MB by default.-->
		<!--If IIS7 or greater is being used and uploads larger than 30MB are expected, maxAllowedContentLength as well as maxRequestLength must be increased.-->
		<!--Uploads that are below maxAllowedContentLength but above maxRequestLength will display a friendly error message to the user.-->
		<!--Uploads that are above maxAllowedContentLength will be rejected and a 404 error will occur.-->
		<!--Therefore, this value (in bytes) should be larger and not equal to maxRequestLength (in kilobytes) or users will not receive a friendly error message.-->
		<!--Uncomment the section below and enter the value as needed.-->
		<!--This setting should be changed in both the Web Server and Application Server's web.config.-->
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="30000000" />
			</requestFiltering>
		</security>
		<defaultDocument>
			<files>
				<clear />
				<add value="Login.aspx" />
			</files>
		</defaultDocument>
		<httpProtocol>
			<!--The custom headers section is only for IIS7 and greater.  -->
			<customHeaders>
				<remove name="X-Powered-By" />
				<!-- IE=11 tells Internet Explorer 11 to render pages in standards mode supported by the browser. -->
				<add name="X-UA-Compatible" value="IE=11" />
			</customHeaders>
		</httpProtocol>
	</system.webServer>
	
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.1.1.0" newVersion="2.1.1.0" />
			</dependentAssembly>
		</assemblyBinding>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.1.1.0" newVersion="2.1.1.0" />
			</dependentAssembly>
		</assemblyBinding>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
			</dependentAssembly>
		</assemblyBinding>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
		</assemblyBinding>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Configuration.ConfigurationManager" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
		</assemblyBinding>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
