<div id="WOPISection" class="tabcontent">
    <div class="row">
        <p class="BlockDescription">The following settings are specific to the WOPI viewer integration</p>
    </div>
    <div class="row">
        <div class="column">
            <div class="settingElement">
                <div class="labelElement">
                    <span>WOPI Endpoint: </span><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                    <span id="WOPI-Endpoint-Tooltip" class="tooltiptext">This is the help text.</span>
                </div>
                <div class="inputElement">
                    <label for="WOPI-Endpoint" class="switch">
                        <input id="WOPI-Endpoint" type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
            <div class="settingElement">
                <div class="labelElement">
                    <span>Use Office Online Server: </span><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                    <span id="Use-Office-Online-Server-Tooltip" class="tooltiptext">This is the help text.</span>
                </div>
                <div class="inputElement">
                    <label for="Use-Office-Online-Server" class="switch">
                        <input id="Use-Office-Online-Server" type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="settingElement">
                <div class="labelElement">
                    <label for="Office-Online-Server-URI">Office Online Server URI: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                    <span id="Office-Online-Server-URI-Tooltip" class="tooltiptext">This is the help text.</span>
                </div>
                <div class="inputElement">
                    <input type="url" name="Office-Online-Server-URI" id="Office-Online-Server-URI">
                </div>
            </div>
            <div class="settingElement">
                <div class="labelElement">
                    <label for="Office-Online-Server-Proxy-Base">Office Online Server Proxy Base: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                    <span id="Office-Online-Server-Proxy-Base-Tooltip" class="tooltiptext">This is the help text.</span>
                </div>
                <div class="inputElement">
                    <input type="text" name="Office-Online-Server-Proxy-Base" id="Office-Online-Server-Proxy-Base">
                </div>
            </div>
        </div>
    </div>
</div>