<div id="FullTextServiceSection" class="tabcontent">
    <div class="row">
        <p class="BlockDescription">The Hyland FullText Service defines options used by the Full Text Service Framework.</p>
    </div>
    <div class="row">
        <div class="column">
            <div class="settingElement">
                <div class="labelElement">
                    <span>Enable Search Log: </span><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                    <span id="Enable-Search-Log-Tooltip" class="tooltiptext">This is the help text.</span>
                </div>
                <div class="inputElement">
                    <label for="Enable-Search-Log" class="switch">
                        <input id="Enable-Search-Log" type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
            <div class="settingElement">
                <div class="labelElement">
                    <label for="Search-Log-Path">Search Log Path: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                    <span id="Search-Log-Path-Tooltip" class="tooltiptext">This is the help text.</span>
                </div>
                <div class="inputElement">
                    <input type="text" name="Search-Log-Path" id="Search-Log-Path">
                </div>
            </div>
            <div class="settingElement">
                <div class="labelElement">
                    <label for="Search-Timeout">Search Timeout: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                    <span id="Search-Timeout-Tooltip" class="tooltiptext">This is the help text.</span>
                </div>
                <div class="inputElement">
                    <input type="number" name="Search-Timeout" id="Search-Timeout">
                </div>
            </div>
        </div>
        <div class="column"></div>
    </div>
</div>