<div id="OWINSection" class="tabcontent">
    <div class="row">
        <div class="column">
            <div class="sectionWithTitleBar">
                <div class="titleBar" name="Title-Bar">
                    OnBase Integration API Settings
                </div>
                <div class="coreSection">
                    <div class="settingElement">
                        <div class="labelElement">
                            <label for="owin:oia:msgItemTypeId">owin:oia:msgItemTypeId: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                            <span id="owin:oia:msgItemTypeId-Tooltip" class="tooltiptext">This is the help text.</span>
                        </div>
                        <div class="inputElement">
                            <input type="text" name="owin:oia:msgItemTypeId" id="owin:oia:msgItemTypeId">
                        </div>
                    </div>
                    <div class="settingElement">
                        <div class="labelElement">
                            <label for="owin:oia:tmpFilePath">owin:oia:tmpFilePath: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                            <span id="owin:oia:tmpFilePath-Tooltip" class="tooltiptext">This is the help text.</span>
                        </div>
                        <div class="inputElement">
                            <input type="text" name="owin:oia:tmpFilePath" id="owin:oia:tmpFilePath">
                        </div>
                    </div>
                    <div class="settingElement">
                        <div class="labelElement">
                            <label for="owin:oia:cleanupIntervalInMs">owin:oia:cleanupIntervalInMs: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                            <span id="owin:oia:cleanupIntervalInMs-Tooltip" class="tooltiptext">This is the help text.</span>
                        </div>
                        <div class="inputElement">
                            <input type="number" name="owin:oia:cleanupIntervalInMs" id="owin:oia:cleanupIntervalInMs">
                        </div>
                    </div>
                    <div class="settingElement">
                        <div class="labelElement">
                            <label for="owin:oia:lifeCycleId">owin:oia:lifeCycleId: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                            <span id="owin:oia:lifeCycleId-Tooltip" class="tooltiptext">This is the help text.</span>
                        </div>
                        <div class="inputElement">
                            <input type="number" name="owin:oia:lifeCycleId" id="owin:oia:lifeCycleId">
                        </div>
                    </div>
                    <div class="settingElement">
                        <div class="labelElement">
                            <label for="owin:oia:tmpFileAgeInMs">owin:oia:tmpFileAgeInMs: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                            <span id="owin:oia:tmpFileAgeInMs-Tooltip" class="tooltiptext">This is the help text.</span>
                        </div>
                        <div class="inputElement">
                            <input type="number" name="owin:oia:tmpFileAgeInMs" id="owin:oia:tmpFileAgeInMs">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="sectionWithTitleBar">
                <div class="titleBar" name="Title-Bar">
                    OWIN
                </div>
                <div class="coreSection">
                    <div class="settingElement">
                        <div class="labelElement">
                            <label for="OWIN-Application-Server-Origin">Application Server Origin: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                            <span id="OWIN-Application-Server-Origin-Tooltip" class="tooltiptext">This is the help text.</span>
                        </div>
                        <div class="inputElement">
                            <input type="text" name="OWIN-Application-Server-Origin" id="OWIN-Application-Server-Origin">
                        </div>
                    </div>
                    <div class="settingElement">
                        <div class="labelElement">
                            <span>Automatic App Startup: </span><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                            <span id="OWIN-Automatic-App-Startup-Tooltip" class="tooltiptext">This is the help text.</span>
                        </div>
                        <div class="inputElement">
                            <label for="OWIN-Automatic-App-Startup" class="switch">
                                <input id="OWIN-Automatic-App-Startup" type="checkbox">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                    <div class="settingElement">
                        <div class="labelElement">
                            <label for="OWIN-App-Startup">App Startup: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                            <span id="OWIN-App-Startup-Tooltip" class="tooltiptext">This is the help text.</span>
                        </div>
                        <div class="inputElement">
                            <input type="text" name="OWIN-App-Startup" id="OWIN-App-Startup">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>