<div id="HealthcarePopIntegrationSection" class="tabcontent">
    <div class="row">
        <div class="column">
            <div class="settingElement">
                <div class="labelElement">
                    <span>Validate Against Checksum: </span><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                    <span id="Validate-Against-Checksum-Tooltip" class="tooltiptext">This is the help text.</span>
                </div>
                <div class="inputElement">
                    <label for="Validate-Against-Checksum" class="switch">
                        <input id="Validate-Against-Checksum" type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
            <div class="settingElement">
                <div class="labelElement">
                    <span>Enable Legacy Checksum Fallback: </span><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                    <span id="Enable-Legacy-Checksum-Fallback-Tooltip" class="tooltiptext">This is the help text.</span>
                </div>
                <div class="inputElement">
                    <label for="Enable-Legacy-Checksum-Fallback" class="switch">
                        <input id="Enable-Legacy-Checksum-Fallback" type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="settingElement">
                <div class="labelElement">
                    <label for="Checksum-Key">Checksum Key: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                    <span id="Checksum-Key-Tooltip" class="tooltiptext">This is the help text.</span>
                </div>
                <div class="inputElement">
                    <input type="text" name="Checksum-Key" id="Checksum-Key">
                </div>
            </div>
            <div class="settingElement">
                <div class="labelElement">
                    <span>Encrypt Healthcare Pop Integration Configuration: </span><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                    <span id="Encrypt-Healthcare-Pop-Integration-Configuration-Tooltip" class="tooltiptext">This is the help text.</span>
                </div>
                <div class="inputElement">
                    <label for="Encrypt-Healthcare-Pop-Integration-Configuration" class="switch">
                        <input id="Encrypt-Healthcare-Pop-Integration-Configuration" type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>