<div id="ContentComposerSection" class="tabcontent">
    <div class="row">
        <div class="column">
            <div class="settingElement">
                <div class="labelElement">
                    <label for="Content-Composer-Client-ID">Content Composer Client ID: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                    <span id="Content-Composer-Client-ID-Tooltip" class="tooltiptext">This is the help text.</span>
                </div>
                <div class="inputElement">
                    <input type="text" name="Content-Composer-Client-ID" id="Content-Composer-Client-ID">
                </div>
            </div>
            <div class="settingElement">
                <div class="labelElement">
                    <label for="Content-Composer-Client-Secret">Content Composer Client Secret: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                    <span id="Content-Composer-Client-Secret-Tooltip" class="tooltiptext">This is the help text.</span>
                </div>
                <div class="inputElement">
                    <input type="text" name="Content-Composer-Client-Secret" id="Content-Composer-Client-Secret">
                </div>
            </div>
            <div class="settingElement">
                <div class="labelElement">
                    <span>Encrypt Content Composer Settings: </span><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                    <span id="Encrypt-Content-Composer-Settings-Tooltip" class="tooltiptext">This is the help text.</span>
                </div>
                <div class="inputElement">
                    <label for="Encrypt-Content-Composer-Settings" class="switch">
                        <input id="Encrypt-Content-Composer-Settings" type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="settingElement">
                <div class="labelElement">
                    <label for="Content-Composer-Username">Content Composer Username: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                    <span id="Content-Composer-Username-Tooltip" class="tooltiptext">This is the help text.</span>
                </div>
                <div class="inputElement">
                    <input type="text" name="Content-Composer-Username" id="Content-Composer-Username">
                </div>
            </div>
            <div class="settingElement">
                <div class="labelElement">
                    <label for="Content-Composer-Password">Content Composer Password: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                    <span id="Content-Composer-Password-Tooltip" class="tooltiptext">This is the help text.</span>
                </div>
                <div class="inputElement">
                    <input type="text" name="Content-Composer-Password" id="Content-Composer-Password">
                </div>
            </div>
        </div>
    </div>
</div>