<div id="forgotpasswordformcontainer-outer" class="forgotpasswordformcontainer-outer">
    <div class="forgotpasswordformcontainer-inner dark_mode">
        <form action="forgot_password">
            <div id="forgotpasswordtitlecontainer">
                <h2>Forgot Password</h2>
            </div>
            <div class="forgotpasswordcontainer">
                <div class="forgotpasswordfieldcontainer">
                    <label for="forgotpasswordusername">Enter your username</label>
                    <input id="forgotpasswordusername" class="forgotpasswordfield" type="text" name="forgotpasswordusername" oninput="validateForgotPasswordFieldsAreFilledIn()" required>
                </div>
                <div class="forgotpasswordfieldcontainer">
                    <label for="forgotpasswordemail">Enter your email address</label>
                    <input id="forgotpasswordemail" class="forgotpasswordfield" type="email" name="forgotpasswordemail" oninput="validateForgotPasswordFieldsAreFilledIn()" required>
                </div>
            </div>
            <div id="forgotpasswordbuttoncontainer">
                <button id="forgotpasswordbutton" onclick="forgotpassword(event)" type="submit" disabled>Reset Password</button>
                <button id="cancelforgotpasswordbutton" onclick="closeForgotPasswordModal()" type="reset">Cancel</button>
            </div>
        </form>
    </div>
</div>