<div id="LOBBrokerAccountsPayableAPISection" class="tabcontent">
    <div class="row">
        <div class="column">
            <div class="settingElement">
                <div class="labelElement">
                    <span>Enable LOB Broker Accounts Payable: </span><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                    <span id="Enable-LOB-Broker-Accounts-Payable-Tooltip" class="tooltiptext">This is the help text.</span>
                </div>
                <div class="inputElement">
                    <label for="Enable-LOB-Broker-Accounts-Payable" class="switch">
                        <input id="Enable-LOB-Broker-Accounts-Payable" type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="column"></div>
    </div>
    <div class="row">
        <div class="column">
            <div class="settingElement">
                <div class="labelElement">
                    <label for="Vendor-Cache-Search-Minimum-Characters">Vendor Cache Search Minimum Characters: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                    <span id="Vendor-Cache-Search-Minimum-Characters-Tooltip" class="tooltiptext">This is the help text.</span>
                </div>
                <div class="inputElement">
                    <input type="number" name="Vendor-Cache-Search-Minimum-Characters" id="Vendor-Cache-Search-Minimum-Characters">
                </div>
            </div>
            <div class="settingElement">
                <div class="labelElement">
                    <label for="Vendor-Master-Keyed-Lookup-Op">Vendor Master Keyed Lookup Op: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                    <span id="Vendor-Master-Keyed-Lookup-Op-Tooltip" class="tooltiptext">This is the help text.</span>
                </div>
                <div class="inputElement">
                    <input type="text" name="Vendor-Master-Keyed-Lookup-Op" id="Vendor-Master-Keyed-Lookup-Op">
                </div>
            </div>
            <div class="settingElement">
                <div class="labelElement">
                    <!-- Would be nice to make this into a field that is where you add something to a list and can order/re-order the listing. -->
                    <label for="Vendor-Master-Lookup-Sequence">Vendor Master Lookup Sequence: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                    <span id="Vendor-Master-Lookup-Sequence-Tooltip" class="tooltiptext">This is the help text.</span>
                </div>
                <div class="inputElement">
                    <input type="text" name="Vendor-Master-Lookup-Sequence" id="Vendor-Master-Lookup-Sequence">
                </div>
            </div>
            <div class="settingElement">
                <div class="labelElement">
                    <span>Vendor Master Lookup Return Multiple: </span><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                    <span id="Vendor-Master-Lookup-Return-Multiple-Tooltip" class="tooltiptext">This is the help text.</span>
                </div>
                <div class="inputElement">
                    <label for="Vendor-Master-Lookup-Return-Multiple" class="switch">
                        <input id="Vendor-Master-Lookup-Return-Multiple" type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
            <div class="settingElement">
                <div class="labelElement">
                    <label for="Vendor-Cache-AutoComplete-Result-Max">Vendor Cache AutoComplete Result Max: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                    <span id="Vendor-Cache-AutoComplete-Result-Max-Tooltip" class="tooltiptext">This is the help text.</span>
                </div>
                <div class="inputElement">
                    <input type="number" name="Vendor-Cache-AutoComplete-Result-Max" id="Vendor-Cache-AutoComplete-Result-Max">
                </div>
            </div>
        </div>
        <div class="column">
            <!-- Need to find a way to put the Data Sources section in here. Not sure how it is able to be configured and all. -->
            <!-- <div class="setting-element">
                <label for=""></label>
                <input type="text" name="" id="">
            </div> -->
        </div>
    </div>
</div>