<div id="PopIntegrationSection" class="tabcontent">
    <div class="row">
        <div class="column">
            <div class="settingElement">
                <div class="labelElement">
                    <span>Validate Against Checksum: </span><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                    <span id="Pop-Integrations-Validate-Against-Checksum-Tooltip" class="tooltiptext">This is the help text.</span>
                </div>
                <div class="inputElement">
                    <label for="Pop-Integrations-Validate-Against-Checksum" class="switch">
                        <input id="Pop-Integrations-Validate-Against-Checksum" type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
            <div class="settingElement">
                <div class="labelElement">
                    <span>Enable Legacy Checksum Creation: </span><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                    <span id="Pop-Integrations-Enable-Legacy-Checksum-Creation-Tooltip" class="tooltiptext">This is the help text.</span>
                </div>
                <div class="inputElement">
                    <label for="Pop-Integrations-Enable-Legacy-Checksum-Creation" class="switch">
                        <input id="Pop-Integrations-Enable-Legacy-Checksum-Creation" type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="settingElement">
                <div class="labelElement">
                    <label for="Pop-Integrations-Checksum-Key">Checksum Key: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                    <span id="Pop-Integrations-Checksum-Key-Tooltip" class="tooltiptext">This is the help text.</span>
                </div>
                <div class="inputElement">
                    <input type="text" name="Pop-Integrations-Checksum-Key" id="Pop-Integrations-Checksum-Key">
                </div>
            </div>
            <div class="settingElement">
                <div class="labelElement">
                    <span>Encrypt Configuration: </span><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                    <span id="Pop-Integrations-Encrypt-Configuration-Tooltip" class="tooltiptext">This is the help text.</span>
                </div>
                <div class="inputElement">
                    <label for="Pop-Integrations-Encrypt-Configuration" class="switch">
                        <input id="Pop-Integrations-Encrypt-Configuration" type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>