<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Hyland.Services.Client" type="Hyland.Services.Client.ServiceClientConfiguration,Hyland.Services.Client" />
    <section name="Hyland.Logging" type="Hyland.Logging.Configuration.ClientConfigurationHandler,Hyland.Logging" />
    <section name="Hyland.Web.HealthcarePop" type="Hyland.Applications.Web.ConfigSections.HealthcarePopConfigSection, Hyland.Applications.Web" />
    <!-- ADFS sections -->
    <section name="Hyland.Authentication" type="Hyland.Authentication.Configuration.AuthenticationConfigurationSection, Hyland.Authentication" />
    <section name="system.identityModel" type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
    <section name="system.identityModel.services" type="System.IdentityModel.Services.Configuration.SystemIdentityModelServicesSection, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
    <!-- End ADFS sections -->
  </configSections>
  <Hyland.Services.Client>
    <!-- All Urls Must end with 'Service.rem' for Remoting or 'Service.asmx' for SOAP. -->
    <ApplicationServer Url="https://[APP SERVER]/[VIRTUAL ROOT]/Service.rem" ServiceClientType="Remoting" />
    <!-- This will regulate Streaming Services to a certain maximum buffer size no matter what the calling code asks for.-->
    <!--<StreamingSettings BufferSize="64000"/>-->
  </Hyland.Services.Client>

  <Hyland.Logging>
    <WindowsEventLogging sourcename="OnBase Patient Window" />
    <Routes>
      <Route name="DiagnosticsConsole">
        <add key="Http" value="http://localhost:8989" />
        <!-- <add key="minimum-level" value="Trace" /> -->
      </Route>
      <Route name="ErrorEventLog">
        <!-- Write errors to the Event Log using the source specified above -->
        <add key="HylandLog" />
        <add key="minimum-level" value="Error" />
      </Route>
      <!--<Route name="ELK">
            <add key="Http" value="http://localhost:5586"/>
            <add key="CompactHttpFormat"/>
        </Route>-->
    </Routes>
    <AuditRoutes>
      <!--<Route name="DiagnosticsConsole">
            <add key="Http" value="http://localhost:8989" /> 
        </Route>-->
    </AuditRoutes>
  </Hyland.Logging>

   <appSettings file="version.xml">
    <add key="dmsVirtualRoot" value="https://[WEB SERVER]/[VIRTUAL ROOT]" />
    <add key="dmsDataSource" value="[DATA SOURCE]" />
    <add key="AllowViewSource" value="true" />
    <!-- Session timeout variables -->
    <add key="EnableSessionExpiration" value="true" />
    <add key="PromptOnSessionExpire" value="true" />
    <add key="webtheme" value="XP" />
    <add key="default_username" value="" />
    <add key="default_password" value="" />
    <!-- The enableDefaultLogin key will bypass the login ui and automatically login using default_username and default_password. -->
    <add key="enableDefaultLogin" value="false" />
    <add key="EnableAutoLogin" value="false" />
    <add key="forceSSOAutoLoginOverDomain" value="false" />
    <!-- Enables the Split View / Cross Reference Document user interface. -->
    <add key="EnableSplitView" value="true" />
    <!-- Enables the Patient Search interface for non-admin users-->
    <add key="EnablePatientSearch" value="false" />
    <!-- Enables Patient Context Syncing -->
    <add key="EnablePatientContextSyncing" value="false" />
    <!-- Enables enforcement of UTC-based timestamp -->
    <add key="EnableTimestamp" value="false" />
    <!-- The amount of time in minutes the UTC-based timestamp is valid -->
    <add key="TimestampTimeLimit" value="5" />
    <!-- Enable hostname DNS lookup by IP when workstationName is not included as a request parameter-->
    <add key="EnableWorkstationNameDNSLookup" value="false" />
    <!--Settings respected by ULC controls-->
    <add key="enableRowColoring" value="true" />
    <!-- Settings for Thumbnail HitList Viewer -->
    <!-- Whether to allow web server caching of images -->
    <add key="ThumbnailHitListAllowCaching" value="false" />
    <add key="ThumbnailHitListThumbnailMaxWidth" value="140" />
    <add key="ThumbnailHitListThumbnailMaxHeight" value="175" />
    <add key="ThumbnailHitListPreviewMaxWidth" value="1000" />
    <add key="ThumbnailHitListPreviewMaxHeight" value="1000" />
    <!-- This setting controls if the server will accept only https connections or not. 
         If you set this to false all incoming requests have to be made over https. 
         If you set this to true then both http and https connections are accepted. 
         The recommended setting is false.-->
    <add key="AllowInsecureConnection" value="false" />
    <!-- Preventing caching will impact Viewer performance -->
    <add key="PreventViewerClientCaching" value="true" />
    <add key="HTMLOnlyDocumentsPrintAsPDFs" value="true" />
    <!-- These settings specify the labels of UI components related to System (Dynamic) List and Personal (Static) List functionality-->
    <add key="SystemListDisplayLabel" value="System List" />
    <add key="PersonalListDisplayLabel" value="Personal List" />
    <!-- The selected tab in OPW will be set to the color specified. Set the value to a RGB hex color value, i.e. #FF0000 is red, #0000FF is blue, or friendly name, red, blue, green, etc. -->
    <add key="SelectedTabSingleColor" value="" />
    <add key="__EnableEFormStandardPrinting" value="true" />
    <!-- By default, ad-hoc federated searches via the "Find More Studies" button occur with all of the known Medical Record Numbers for the patient.
         Setting this value to true will use the Master Patient Index Number instead. -->
    <add key="FederatedSearchWithMPI" value="false" />
    <add key="HideToolbarPrintButton" value="false" />
    <add key="autoDisplayNotePanelPDFOffice" value="true" />
    <add key="IdPUrl" value="" />
    <add key="EmergencyAccessDialogTitle" value="" />
    <add key="EmergencyAccessDialogMessage" value="" />
    <add key="EmergencyAccessDialogOtherReasonLabel" value="" />
    <add key="ShowEmergencyAccessShowDocumentsCheckboxes" value="true" />
    <add key="ShowOtherReasonInEmergencyAccessDialog" value="true" />
    <add key="OtherReasonTextBoxAlwaysAvailableInEmergencyAccessDialog" value="false" />
  </appSettings>

  <Hyland.Web.HealthcarePop>
    <EnableChecksum value="false" />
    <ChecksumKey value="" />
    <EnableLegacyChecksumFallback value="false" />
  </Hyland.Web.HealthcarePop>

  <Hyland.Authentication>
    <adfs enabled="false" />
  </Hyland.Authentication>

  <system.diagnostics>
    <switches>
      <!--
      This switch controls tracing globally through Hyland.Logging.
      It configures the level of information from Trace that is logged.
      For no information set the value to zero. Set the value to 1, 2, 3, or 4 for
      minimal, normal, detailed, or verbose messages, respectively.
      -->
      <add name="hylandTracing" value="0" />
    </switches>
  </system.diagnostics>

  <configProtectedData>
    <providers>
      <add name="DpapiProvider" type="System.Configuration.DpapiProtectedConfigurationProvider,System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </providers>
  </configProtectedData>
  <system.web>
    <compilation debug="false" targetFramework="4.7.2">
      <assemblies>
        <add assembly="netstandard, Version=2.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" />
      </assemblies>
    </compilation>
    <!--  
      SESSION STATE SETTINGS
    -->
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" cookieSameSite="Lax" timeout="20" />
    <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
    -->
    <!--  HTTPRUNTIME
      By default the maximum size a request may be is 4096 KB.  If files larger than 4096 KB (4 MB)
      need to be uploaded increase the size of the maxRequestLength.  MaxRequestLength value is in KiloBytes.
      By default the maximum number of seconds that a request is allowed to execute is 90 seconds.
      If uploading large documents, the executionTimeout value may need to be increased for proper processing.
      
      If uploads larger than 30MB are required, maxRequestLength in the application server's web.config must also be increased.
      If uploads larger than 30MB are required and IIS7 or greater is being used, additional changes are required.
      Refer to the maxAllowedContentLength comments for information regarding the changes.
    -->
    <!-- WARNING - Do not set this value below 4MB or uploads over 4MB will fail - WARNING -->
    <httpRuntime requestValidationMode="2.0" maxRequestLength="4096" executionTimeout="90" enableVersionHeader="false" />
    <!--  GLOBALIZATION
          This section sets the globalization settings of the application.
    -->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
    <!-- IDENTITY
    By setting impersonate="true" the username and password set in the registry will be used
    when the application is started.

    For Patient Window, impersonation is (most likely) not needed. The default account of
    NetworkService or ApplicationPoolIdentity should have the proper file permissions and network
    permissions to communicate with the Application Server.

    Use Impersonation on the Application Server for proper NTFS file security.
    When using NT Authentication, LDAP Authentication, Active Directory Authentication, and certain SSOs
    the Application Server will require a user with additional permissions to complete user authentication.

    Use aspnet_setreg.exe to encrypt and set the username and password in the registry.
    aspnet_setreg -k:SOFTWARE\Hyland\AppNet\Identity -u:<domain>\<username> -p:<password>

    NOTE: Each time aspnet_setreg.exe is run, the security on the registry key is restored to the default.
    If using x64 regedit, search with the Wow6432Node in the key path. If the x86 version is used, this is unnecessary.
    Use regedit to update HKLM:SOFTWARE\Hyland\AppNet\Identity\ASPNET_SETREG key to allow read permissions
    by the identity running the Application Pool.
    -->
    <!--
    <identity impersonate="false"
      userName="registry:HKLM\SOFTWARE\Wow6432Node\Hyland\AppNet\Identity\ASPNET_SETREG,userName"
      password="registry:HKLM\SOFTWARE\Wow6432Node\Hyland\AppNet\Identity\ASPNET_SETREG,password"
      />
    -->
    <!-- Authentication and Authorization sections for ADFS -->
    <!--
    <authentication mode="None" />
    <authorization>
      <deny users="?" />
    </authorization>
    -->
    <webServices>
      <!-- The web services HTTP POST protocol is disabled by default in .NET 1.1 and above.
         The following entry enables the protocol and is required by Hyland Services -->
      <protocols>
        <add name="HttpPost" />
      </protocols>
      <!-- SOAP Extensions for ADFS -->
      <!--
      <soapExtensionTypes>
        <add type="Hyland.Authentication.ADFS.CustomADFSAuthSoapExtension, Hyland.Authentication" />
      </soapExtensionTypes>
      -->
    </webServices>
    <pages validateRequest="false" controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <!--The format for this section should additionally contain the preCondition attribute.-->
      <add name="OnBaseContextModule" type="Hyland.Server.Diagnostics.OnBaseContextModule, Hyland.Server" preCondition="managedHandler" />
      <!-- The following two modules are required for ADFS -->
      <!--add name="WSFederationAuthenticationModule" type="System.IdentityModel.Services.WSFederationAuthenticationModule, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="managedHandler" /-->
      <!--add name="SessionAuthenticationModule" type="System.IdentityModel.Services.SessionAuthenticationModule, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="managedHandler" /-->
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <!-- Hyland.Applications.Web -->
      <add name="DownloadHandler.ashx_*" path="DownloadHandler.ashx" verb="*" type="Hyland.Applications.Web.DownloadHandlerProxy, Hyland.Applications.Web" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="HttpServiceHandler.ashx_*" path="HttpServiceHandler.ashx" verb="*" type="Hyland.Applications.Web.HttpServiceHandlerProxy, Hyland.Applications.Web" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="OptimizedServicePipeline.ashx_*" path="OptimizedServicePipeline.ashx" verb="*" type="Hyland.Applications.Web.OptimizedServicePipelineProxy, Hyland.Applications.Web" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="Service.asmx_*" path="Service.asmx" verb="*" type="Hyland.Applications.Web.ServiceHttpHandler, Hyland.Applications.Web" preCondition="integratedMode,runtimeVersionv4.0" />
      <!-- Hyland.Applications.Web.Client.Controls -->
      <add name="NoteType.ashx_*" verb="*" path="NoteType.ashx" type="Hyland.Applications.Web.Client.Controls.NoteType, Hyland.Applications.Web.Client" preCondition="integratedMode,runtimeVersionv4.0" />
      <!-- Hyland.Applications.Web.Handlers -->
      <add name="DocumentActionHandler.ashx_*" path="DocumentActionHandler.ashx" verb="*" type="Hyland.Applications.Web.Handlers.DocumentActionHandler, Hyland.Applications.Web" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="DocumentDataHandler.ashx_*" path="DocumentDataHandler.ashx" verb="*" type="Hyland.Applications.Web.Handlers.DocumentDataHandler, Hyland.Applications.Web" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="FormProc.ashx_*" path="FormProc.ashx" verb="*" type="Hyland.Applications.Web.Handlers.FormProc, Hyland.Applications.Web" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="UnityFormHandler.ashx_*" path="UnityFormHandler.ashx" verb="*" type="Hyland.Applications.Web.Handlers.UnityFormHandler, Hyland.Applications.Web" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="ScriptExceptionHandler.ashx_*" path="ScriptExceptionHandler.ashx" verb="*" type="Hyland.Applications.Web.Handlers.ScriptExceptionHandler, Hyland.Applications.Web" preCondition="integratedMode,runtimeVersionv4.0" />
      <!-- Hyland.Applications.Web.WindowsManager -->
      <add name="UnloadHandler.ashx_*" path="UnloadHandler.ashx" verb="*" type="Hyland.Applications.Web.WindowsManager.UnloadHandler, Hyland.Applications.Web" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="WindowDirector.ashx_*" path="WindowDirector.ashx" verb="*" type="Hyland.Applications.Web.WindowsManager.WindowDirector, Hyland.Applications.Web" preCondition="integratedMode,runtimeVersionv4.0" />
      <!-- Hyland.Controls.Web -->
      <add name="CalendarProvider.ashx_*" path="CalendarProvider.ashx" verb="*" type="Hyland.Controls.Web.Calendar.CalendarProvider, Hyland.Controls.Web" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="FileServiceHandler.ashx_*" path="FileServiceHandler.ashx" verb="*" type="Hyland.Controls.Web.FileServiceHandler, Hyland.Controls.Web" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="Login.ashx_*" path="Login.ashx" verb="*" type="Hyland.Controls.Web.Login.LoginHandler, Hyland.Controls.Web" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="NoteHandler.ashx_*" path="NoteHandler.ashx" verb="*" type="Hyland.Controls.Web.NoteHandler, Hyland.Controls.Web" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="PrintHandler.ashx_*" path="PrintHandler.ashx" verb="*" type="Hyland.Controls.Web.PrintHandler, Hyland.Controls.Web" preCondition="integratedMode,runtimeVersionv4.0" />
      <!-- Hyland.Controls.Web.GenericViewer -->
      <add name="GVCDocActions.ashx_*" path="GVCDocActions.ashx" verb="*" type="Hyland.Controls.Web.GenericViewer.GVCDocActions, Hyland.Controls.Web" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="IDOLDocumentHandler.ashx_*" path="IDOLDocumentHandler.ashx" verb="*" type="Hyland.Controls.Web.GenericViewer.IDOLDocumentHandler, Hyland.Controls.Web" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="ImageProvider.ashx_*" path="ImageProvider.ashx" verb="*" type="Hyland.Controls.Web.GenericViewer.UtilityControls.ImageViewer.ImageProvider, Hyland.Controls.Web" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="MarkupLanguageHandler.ashx_*" path="MarkupLanguageHandler.ashx" verb="*" type="Hyland.Controls.Web.GenericViewer.MarkupLanguageHandler, Hyland.Controls.Web" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="OleHandler.ashx_*" path="OleHandler.ashx" verb="*" type="Hyland.Controls.Web.GenericViewer.OleHandler, Hyland.Controls.Web" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="PdfHandler.ashx_*" path="PdfHandler.ashx" verb="*" type="Hyland.Controls.Web.GenericViewer.PdfHandler, Hyland.Controls.Web" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="WopiHandler.ashx_*" path="WopiHandler.ashx" verb="*" type="Hyland.Controls.Web.GenericViewer.WopiHandler,Hyland.Controls.Web" preCondition="integratedMode,runtimeVersionv4.0" />
      <!-- Hyland.Controls.Web.Viewer -->
      <add name="ThumbnailHandler.ashx_GET" path="ThumbnailHandler.ashx" verb="GET" type="Hyland.Controls.Web.Viewer.ThumbnailHandler,Hyland.Controls.Web" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="ImageHandler.ashx_GET" path="ImageHandler.ashx" verb="GET" type="Hyland.Controls.Web.Viewer.ImageHandler,Hyland.Controls.Web" preCondition="integratedMode,runtimeVersionv4.0" />
      <!-- Hyland.Applications.Web.PatientWindow -->
      <add name="ExceptionMessage.ashx_*" path="ExceptionMessage.ashx" verb="*" type="Hyland.Applications.Web.PatientWindow.ExceptionMessageHandler, Hyland.Applications.Web.PatientWindow" preCondition="integratedMode,runtimeVersionv4.0" />
      <!-- Hyland.Applications.Web.PatientWindow.Controls -->
      <add name="ChartSearchHandler.ashx_*" path="ChartSearchHandler.ashx" verb="*" type="Hyland.Applications.Web.PatientWindow.Controls.Search.ChartSearchHandler, Hyland.Applications.Web.PatientWindow" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="DocumentCorrectionActionHandler.ashx_*" path="DocumentCorrectionActionHandler.ashx" verb="*" type="Hyland.Applications.Web.PatientWindow.Controls.DocumentCorrectionAction.DocumentCorrectionActionHandler, Hyland.Applications.Web.PatientWindow" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="PatientSearchHandler.ashx_*" path="PatientSearchHandler.ashx" verb="*" type="Hyland.Applications.Web.PatientWindow.Controls.Search.PatientSearchHandler, Hyland.Applications.Web.PatientWindow" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="ScheduledPatientSearchHandler.ashx_*" path="ScheduledPatientSearchHandler.ashx" verb="*" type="Hyland.Applications.Web.PatientWindow.Controls.Search.ScheduledPatientSearchHandler, Hyland.Applications.Web.PatientWindow" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="UniversalListControlHandler.ashx_*" path="UniversalListControlHandler.ashx" verb="*" type="Hyland.Applications.Web.PatientWindow.Controls.List.UniversalListControlHandler, Hyland.Applications.Web.PatientWindow" preCondition="integratedMode,runtimeVersionv4.0" />
      <!-- Hyland.Applications.Web.PatientWindow.Dialogs -->
      <add name="ConfidentialityCodesHandler.ashx_*" path="ConfidentialityCodesHandler.ashx" verb="*" type="Hyland.Applications.Web.PatientWindow.Dialogs.ConfidentialityCodesHandler, Hyland.Applications.Web.PatientWindow" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="UserOptionsHandler.ashx_*" path="UserOptionsHandler.ashx" verb="*" type="Hyland.Applications.Web.PatientWindow.Dialogs.UserOptionsHandler, Hyland.Applications.Web.PatientWindow" preCondition="integratedMode,runtimeVersionv4.0" />
      <!-- Hyland.Controls.Web.Medical -->
      <add name="ConfidentialityNoticeHandler.ashx_*" path="ConfidentialityNoticeHandler.ashx" verb="*" type="Hyland.Controls.Web.Medical.ConfidentialityNoticeControls.ConfidentialityNoticeHandler, Hyland.Controls.Web.Medical" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <defaultDocument>
      <files>
        <clear />
        <add value="Login.aspx" />
      </files>
    </defaultDocument>
    <httpProtocol>
      <!--The custom headers section is only for IIS7 and greater.  -->
      <customHeaders>
        <remove name="X-Powered-By" />
        <!-- IE=11 tells Internet Explorer 11 to render pages in standards mode supported by the browser. -->
        <add name="X-UA-Compatible" value="IE=11" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <!--
  The system.identityModel section is used to enable Windows Identity Foundation options.

  The audienceUri identifies the relying party (RP - this application).  This much exactly (case, trailing slash, etc.) match the Relying Party Trust Identifier on the ADFS sever.
  The certificate identified by the thumbprint in the trustedIssuers element is the token-signing certificate found on the ADFS server.
  -->
  <!--
  <system.identityModel>
    <identityConfiguration saveBootstrapContext="true">
      <securityTokenHandlers>
        <securityTokenHandlerConfiguration>
          <audienceUris>
            <add value="https://Audience/URI/" />
          </audienceUris>
          <issuerNameRegistry type="System.IdentityModel.Tokens.ConfigurationBasedIssuerNameRegistry, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <trustedIssuers>
              <add thumbprint="ABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890ABCD" name="Optional_Friendly_Name_For_The_Certificate" />
            </trustedIssuers>
          </issuerNameRegistry>
        </securityTokenHandlerConfiguration>
      </securityTokenHandlers>
    </identityConfiguration>
  </system.identityModel>
  -->
  <!--
  system.identityModel.services is used to configure authentication using the WS-Federation protocol.

  wsFederation node
    The 'issuer' attribute specifies the URI of the token issuer.  It sets the base URL for authentication requests.
    The 'realm' attribute specifies the URI used to identify the relying party (RP - this application).  This much exactly (case, trailing slash, etc.) match the Relying Party Trust Identifier on the ADFS sever.

  The certificate identified by the certificateReference element is the encryption certificate configured on the Relying Party Trust on the ADFS server.
  -->
  <!--
  <system.identityModel.services>
    <federationConfiguration>
      <wsFederation issuer="https://issuer/URI/adfs/ls/" realm="https://Audience/URI/" />
      <serviceCertificate>
        <certificateReference x509FindType="FindByThumbprint" findValue="ZYXWVUTSRQPONMLKJIHGFEDCBA0987654321ZYXW" storeLocation="LocalMachine" storeName="My" />
      </serviceCertificate>
    </federationConfiguration>
  </system.identityModel.services>
  -->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.1.0" newVersion="2.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.1.0" newVersion="2.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Configuration.ConfigurationManager" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>