<p class="LinksHeader">OnBase Configuration</p>
<div class="core-section-buttons">
    <div class="core-section-buttons-outer">
        <div class="core-section-buttons-inner">
            <ul>
                <li><a class="dark_mode_links" id="AgendaOnlineLink" href="javascript:openSection('AgendaOnline')">Agenda Online</aclass></li>
                <li><a class="dark_mode_links" id="DiagnosticsSettingsLink" href="javascript:openSection('DiagnosticsSettings')">Diagnostics Settings</a></li>
                <li><a class="dark_mode_links" id="PublicCommentIntegrationsLink" href="javascript:openSection('PublicCommentIntegrations')">Public Comment Integrations</a></li>
                <li><a class="dark_mode_links" id="SettingsLink" href="javascript:openSection('Settings')">Settings</a></li>
            </ul>
        </div>
    </div>
</div>