<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
	<configSections>
		<section name="Hyland.Services.Client" type="Hyland.Services.Client.ServiceClientConfiguration,Hyland.Services.Client" />
		<section name="Hyland.Applications.PlanReview.Client" type="Hyland.Applications.Web.ConfigSections.PlanReviewConfigSection, Hyland.Applications.Web" />
		<section name="Hyland.Logging" type="Hyland.Logging.Configuration.ClientConfigurationHandler,Hyland.Logging" />
		<sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
			<section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<Hyland.Services.Client>
		<!-- All Urls Must end with 'Service.rem' for Remoting or 'Service.asmx' for SOAP. -->
		<ApplicationServer Url="https://localhost/AppServer/Service.asmx" ServiceClientType="SOAP" />
	</Hyland.Services.Client>
	<Hyland.Applications.PlanReview.Client>
		<SessionUser value="" />
		<SessionPassword value="" />
		<DataSource value="" />
	</Hyland.Applications.PlanReview.Client>
	<configProtectedData>
		<providers>
			<add name="DpapiProvider" type="System.Configuration.DpapiProtectedConfigurationProvider, System.Configuration" />
		</providers>
	</configProtectedData>
	<appSettings>
		<add key="StyleSheetPath" value="BasicBlue/" />
		<add key="AllowSignon" value="true" />
		<add key="AllowSignoff" value="true" />
		<add key="DefaultTimeZone" value="4" />
		<add key="SearchStartYear" value="2012" />
		<add key="DisplayDocumentsPerPage" value="20" />
		<add key="MaxLookupResults" value="20" />
		<add key="ResetPasswordLinkExpiration" value="60" />
		<add key="FileUploadDirectory" value="C:\inetpub\wwwroot\PlanReview\Temp\" />
		<add key="FileUploadValidator" value="" />
		<add key="TokenAuthentication" value="false" />
		<add key="SingleSignOn" value="false" />
		<add key="SingleSignOnSourceID" value="1" />
		<add key="SSOUserResolutionMode" value="0" />
		<add key="CAPTCHAPublicKey" value="" />
		<add key="CAPTCHAPrivateKey" value="" />
		<add key="PasswordStrengthPattern" value="^(?=.{4,}).*$" />
		<add key="PasswordStrengthMessage" value="" />
		<!-- UsernameValidationPattern default value = [\da-zA-Z\u00C0-\u00D6\u00D8-\u00F6\u00F8-\u00FF]+ -->
		<add key="UsernameValidationPattern" value="[\da-zA-Z\u00C0-\u00D6\u00D8-\u00F6\u00F8-\u00FF]+" />
		<add key="DisciplineItemsPerMenu" value="15" />
		<add key="webpages:Enabled" value="false" />
	</appSettings>

	<Hyland.Logging>
		<WindowsEventLogging sourcename="OnBase Plan Review Portal" />
		<Routes>
			<Route name="DiagnosticsConsole">
				<add key="Http" value="http://localhost:8989" />
				<!-- <add key="minimum-level" value="Trace" /> -->
			</Route>
			<Route name="ErrorEventLog">
				<!-- Write errors to the Event Log using the source specified above -->
				<add key="HylandLog" />
				<add key="minimum-level" value="Error" />
			</Route>
		</Routes>
		<AuditRoutes>
			<!--<Route name="DiagnosticsConsole">
				<add key="Http" value="http://localhost:8989" />
			</Route>-->
		</AuditRoutes>
	</Hyland.Logging>

	<!--
	For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

	The following attributes can be set on the <httpRuntime> tag.
	  <system.Web>
		<httpRuntime targetFramework="4.7.2" />
	  </system.Web>
	-->
	<system.web.webPages.razor>
		<host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc" />
		<pages pageBaseType="System.Web.Mvc.WebViewPage">
			<namespaces>
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Routing" />
			</namespaces>
		</pages>
	</system.web.webPages.razor>

	<system.web>
		<globalization enableClientBasedCulture="true" culture="auto:en-US" uiCulture="auto:en" />
		<compilation debug="true" targetFramework="4.7.2">
			<buildProviders>
				<add extension=".template" type="System.Web.WebPages.Razor.RazorBuildProvider,System.Web.WebPages.Razor" />
			</buildProviders>
			<assemblies>
				<add assembly="netstandard, Version=2.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" />
			</assemblies>
		</compilation>
		<!--
		Enabling request validation in view pages would cause validation to occur
		after the input has already been processed by the controller. By default
		MVC performs request validation before a controller processes the input.
		To change this behavior apply the ValidateInputAttribute to a
		controller or action.
	-->
		<pages validateRequest="false" controlRenderingCompatibilityVersion="4.0" />
		<authentication mode="Forms">
			<forms loginUrl="~/SignIn/SignIn" timeout="2880" />
		</authentication>
		<httpRuntime maxRequestLength="4096" enableVersionHeader="false" />
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<modules runAllManagedModulesForAllRequests="true" />
		<handlers accessPolicy="Read, Script">
			<!--The format for this section should additionally contain the name and preCondition attributes.-->
			<!--The name attribute follows the pattern "<path>_<verb>"-->
			<add name="UnityFormHandler.ashx_*" path="UnityFormHandler.ashx" verb="*" type="Hyland.Applications.Web.Handlers.UnityFormHandler, Hyland.Applications.Web" preCondition="integratedMode,runtimeVersionv4.0" />
			<add name="HttpServiceHandler.ashx_*" path="HttpServiceHandler.ashx" verb="*" type="Hyland.Applications.Web.HttpServiceHandlerProxy, Hyland.Applications.Web" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
		<security>
			<requestFiltering>
				<!-- This should be set the same as the one in the Application Server's web.config. -->
				<requestLimits maxAllowedContentLength="30000000" />
			</requestFiltering>
		</security>
		<httpProtocol>
			<customHeaders>
				<remove name="X-Powered-By" />
			</customHeaders>
		</httpProtocol>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.1.1.0" newVersion="2.1.1.0" />
			</dependentAssembly>
		</assemblyBinding>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.1.1.0" newVersion="2.1.1.0" />
			</dependentAssembly>
		</assemblyBinding>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
		</assemblyBinding>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
			</dependentAssembly>
		</assemblyBinding>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
