<div id="ExternalAccessClientSection" class="tabcontent">
    <div class="row">
        <div class="column">
            <div class="settingElement">
                <div class="labelElement">
                    <label for="EAC-Username">Username: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                    <span id="EAC-Username-Tooltip" class="tooltiptext">This is the help text.</span>
                </div>
                <div class="inputElement">
                    <input type="text" name="EAC-Username" id="EAC-Username">
                </div>
            </div>
            <div class="settingElement">
                <div class="labelElement">
                    <label for="EAC-Password">Password: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                    <span id="EAC-Password-Tooltip" class="tooltiptext">This is the help text.</span>
                </div>
                <div class="inputElement">
                    <input type="text" name="EAC-Password" id="EAC-Password">
                </div>
            </div>
            <div class="settingElement">
                <div class="labelElement">
                    <span>Encrypt EAC: </span><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                    <span id="Encrypt-EAC-Tooltip" class="tooltiptext">This is the help text.</span>
                </div>
                <div class="inputElement">
                    <label for="Encrypt-EAC" class="switch">
                        <input id="Encrypt-EAC" type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="settingElement">
                <div class="labelElement">
                    <label for="EAC-UserLevel-Minimum-Pool-Size">UserLevel Minimum Pool Size: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                    <span id="EAC-UserLevel-Minimum-Pool-Size-Tooltip" class="tooltiptext">This is the help text.</span>
                </div>
                <div class="inputElement">
                    <input type="number" name="EAC-UserLevel-Minimum-Pool-Size" id="EAC-UserLevel-Minimum-Pool-Size">
                </div>
            </div>
            <div class="settingElement">
                <div class="labelElement">
                    <label for="EAC-UserLevel-Maximum-Pool-Size">UserLevel Maximum Pool Size: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                    <span id="EAC-UserLevel-Maximum-Pool-Size-Tooltip" class="tooltiptext">This is the help text.</span>
                </div>
                <div class="inputElement">
                    <input type="number" name="EAC-UserLevel-Maximum-Pool-Size" id="EAC-UserLevel-Maximum-Pool-Size">
                </div>
            </div>
        </div>
    </div>
</div>