<div id="ActiveXSection" class="tabcontent">
    <div class="row">
        <p class="BlockDescription">The following settings are only used when the Web Client is in ActiveX mode.</p>
    </div>
    <div class="row">
        <div class="column">
            <div class="settingElement" id="Autozoom-Thumbnail-Configuration-SettingElement">
                <div class="labelElement">
                    <label for="Autozoom-Thumbnail-Configuration">Autozoom Thumbnail Configuration: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                    <span id="Autozoom-Thumbnail-Configuration-Tooltip" class="tooltiptext">
                        <span>
                            If "True" - The thumbnail is always auto zoomed regardless of local setting.
                        </span>
                        <br>
                        <span>
                            If "False" -  The thumbnail is not auto zoomed regardless of local setting.
                        </span>
                        <br>
                        <span>
                            If "Local" - The thumbnail auto zoom depends on local setting.
                        </span>
                    </span>
                </div>
                <div class="inputElement">
                    <select name="Autozoom-Thumbnail-Configuration" id="Autozoom-Thumbnail-Configuration">
                        <option value="true">true</option>
                        <option value="false">false</option>
                        <option value="local" selected>local</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="column">
        </div>
    </div>
</div>