<p class="LinksHeader">OnBase Configuration</p>
<div class="core-section-buttons">
    <div class="core-section-buttons-outer">
        <div class="core-section-buttons-inner">
            <ul>
                <li id="DiagnosticsSettingsLink-SettingElement"><a id="DiagnosticsSettingsLink" href="javascript:openSection('DiagnosticsSettings')">Diagnostics Settings</a></li>
                <li id="HealthcareFormManagerLink-SettingElement"><a id="HealthcareFormManagerLink" href="javascript:openSection('HealthcareFormManager')">Healthcare Form Manager</a></li>
                <li id="HealthcarePopIntegrationLink-SettingElement"><a id="HealthcarePopIntegrationLink" href="javascript:openSection('HealthcarePopIntegration')">Healthcare Pop Integration</a></li>
                <li id="LoginLink-SettingElement"><a id="LoginLink" href="javascript:openSection('Login')">Login</a></li>
                <li id="ServerConfigurationLink-SettingElement"><a id="ServerConfigurationLink" href="javascript:openSection('ServerConfiguration')">Server Configuration</a></li>
            </ul>
        </div>
    </div>
</div>