<div id="HylandIdentityProviderSection" class="tabcontent">
    <div class="row">
        <p class="BlockDescription">This is where you will configure the Hyland Identity Provider settings.</p>
    </div>
    <div class="row">
        <div class="column">
            <div class="settingElement">
                <div class="labelElement">
                    <label for="Hyland-Idp-Url">Idp Url: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                    <span id="Hyland-Idp-Url-Tooltip" class="tooltiptext">This is the help text.</span>
                </div>
                <div class="inputElement">
                    <input type="url" name="Hyland-Idp-Url" id="Hyland-Idp-Url" onkeyup="hylandIdpUrlUpdated(this)">
                </div>
            </div>
            <div class="settingElement">
                <div class="labelElement">
                    <label for="Hyland-IdP-Audience-URL">Audience URL: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                    <span id="Hyland-IdP-Audience-URL-Tooltip" class="tooltiptext">This is the help text.</span>
                </div>
                <div class="inputElement">
                    <input type="url" name="Hyland-IdP-Audience-URL" id="Hyland-IdP-Audience-URL">
                </div>
            </div>
        </div>
        <div class="column">
            <div class="settingElement">
                <div class="labelElement">
                    <label for="Hyland-IdP-Name-Claim-Type">Name Claim Type: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                    <span id="Hyland-IdP-Name-Claim-Type-Tooltip" class="tooltiptext">This is the help text.</span>
                </div>
                <div class="inputElement">
                    <input type="text" name="Hyland-IdP-Name-Claim-Type" id="Hyland-IdP-Name-Claim-Type">
                </div>
            </div>
            <div class="settingElement">
                <div class="labelElement">
                    <label for="Hyland-IdP-Api-Name">Api Name: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                    <span id="Hyland-IdP-Api-Name-Tooltip" class="tooltiptext">This is the help text.</span>
                </div>
                <div class="inputElement">
                    <input type="text" name="Hyland-IdP-Api-Name" id="Hyland-IdP-Api-Name">
                </div>
            </div>
            <div class="settingElement">
                <div class="labelElement">
                    <label for="Hyland-IdP-Api-Secret">Api Secret: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                    <span id="Hyland-IdP-Api-Secret-Tooltip" class="tooltiptext">This is the help text.</span>
                </div>
                <div class="inputElement">
                    <input type="text" name="Hyland-IdP-Api-Secret" id="Hyland-IdP-Api-Secret">
                </div>
            </div>
        </div>
    </div>
</div>