<div id="EISSection" class="tabcontent">
    <div class="row">
        <div class="column">
            <div class="settingElement">
                <div class="labelElement">
                    <label for="Integrations-EIS-AppNet-Directory">AppNet Directory: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                    <span id="Integrations-EIS-AppNet-Directory-Tooltip" class="tooltiptext">EIS to retrieve AppNetDirectory example: "http://localhost/AppNet".</span>
                </div>
                <div class="inputElement">
                    <input type="text" name="Integrations-EIS-AppNet-Directory" id="Integrations-EIS-AppNet-Directory">
                </div>
            </div>
            <div class="settingElement">
                <div class="labelElement">
                    <span>Validate Message Schema: </span><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                    <span id="Integrations-EIS-Validate-Message-Schema-Tooltip" class="tooltiptext">Set to true to perform validation on the Message Schema with XML Rendition.</span>
                </div>
                <div class="inputElement">
                    <label for="Integrations-EIS-Validate-Message-Schema" class="switch">
                        <input id="Integrations-EIS-Validate-Message-Schema" type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
            <div class="settingElement">
                <div class="labelElement">
                    <label for="Integrations-EIS-Data-Set-Cache-Cleanup-Interval">Data Set Cache Cleanup Interval (Minutes): </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                    <span id="Integrations-EIS-Data-Set-Cache-Cleanup-Interval-Tooltip" class="tooltiptext">This is the help text.</span>
                </div>
                <div class="inputElement">
                    <input type="text" name="Integrations-EIS-Data-Set-Cache-Cleanup-Interval" id="Integrations-EIS-Data-Set-Cache-Cleanup-Interval">
                </div>
            </div>
        </div>
        <div class="column">
            <div class="settingElement" id="Integrations-EIS-Use-HTML-Client-Type-SettingElement">
                <div class="labelElement">
                    <span>Use HTML Client Type: </span><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                    <span id="Integrations-EIS-Use-HTML-Client-Type-Tooltip" class="tooltiptext">This is the help text.</span>
                </div>
                <div class="inputElement">
                    <label for="Integrations-EIS-Use-HTML-Client-Type" class="switch">
                        <input id="Integrations-EIS-Use-HTML-Client-Type" type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
            <div class="settingElement">
                <div class="labelElement">
                    <span>Continue On Validation Error: </span><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                    <span id="Integrations-EIS-Continue-On-Validation-Error-Tooltip" class="tooltiptext">This is the help text.</span>
                </div>
                <div class="inputElement">
                    <label for="Integrations-EIS-Continue-On-Validation-Error" class="switch">
                        <input id="Integrations-EIS-Continue-On-Validation-Error" type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>