<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="Hyland.Services.Client" type="Hyland.Services.Client.ServiceClientConfiguration,Hyland.Services.Client" />
    <section name="Hyland.Applications.AgendaPubAccess.Client" type="Hyland.Applications.Web.ConfigSections.AgendaPubAccessConfigSection, Hyland.Applications.Web" />
    <section name="Hyland.Applications.AgendaPubAccess.PublicComment" type="Hyland.Applications.Web.ConfigSections.AgendaPublicCommentConfigSection, Hyland.Applications.Web" />
    <section name="Hyland.Logging" type="Hyland.Logging.Configuration.ClientConfigurationHandler,Hyland.Logging" />
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor">
      <section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor" requirePermission="false" />
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <Hyland.Services.Client>
    <!-- All Urls Must end with 'Service.rem' for Remoting or 'Service.asmx' for SOAP. -->
    <ApplicationServer Url="http://localhost/AppServer/Service.asmx" ServiceClientType="SOAP" />
  </Hyland.Services.Client>
  <configProtectedData>
    <providers>
      <add name="DpapiProvider" type="System.Configuration.DpapiProtectedConfigurationProvider, System.Configuration" />
    </providers>
  </configProtectedData>
  <Hyland.Applications.AgendaPubAccess.Client>
    <SessionUser value="" />
    <SessionPassword value="" />
    <DataSource value="" />
  </Hyland.Applications.AgendaPubAccess.Client>
  <Hyland.Applications.AgendaPubAccess.PublicComment>
    <integrations>
      <!-- AvailabilityFromMeetingStart: 
     This value is in hours. It is based on the start time of the meeting.
     This value determines when the Make Comment button is no longer available in the meeting.
     This value can be a whole number, decimal, or negative value (a negative value disables the button by the number of hours specified before the meeting start time).
     The default value is 0, meaning that once the meeting start time passes, the button is disabled. -->
      <integration name="" url="[URL from Unity forms config]" token="[Token from Unity forms config]" AvailabilityFromMeetingStart="0">
        <meeting_types>
          <meeting_type name="" />
        </meeting_types>
        <agenda_fields>
          <field name="meeting_name" form_field_id="" />
          <field name="meeting_date" form_field_id="" />
          <field name="item_id" form_field_id="" />
          <field name="item_title" form_field_id="" />
        </agenda_fields>
      </integration>
    </integrations>
  </Hyland.Applications.AgendaPubAccess.PublicComment>
  <appSettings>
    <add key="StreamChunkSize" value="65536" />
    <add key="PlayerSourceFilePath" value="../Scripts/jwplayer" />
    <add key="PlayerVersion" value="JWPlayer 8.8.5" />
    <add key="MinPoolSize" value="1" />
    <add key="MaxPoolSize" value="5" />
    <add key="webpages:Enabled" value="false" />
  </appSettings>
  <Hyland.Logging>
    <WindowsEventLogging sourcename="OnBase Agenda Online" />
    <Routes>
      <Route name="DiagnosticsConsole">
        <add key="Http" value="http://localhost:8989" />
        <!-- <add key="minimum-level" value="Trace" /> -->
      </Route>
      <Route name="ErrorEventLog">
        <!-- Write errors to the Event Log using the source specified above -->
        <add key="HylandLog" />
        <add key="minimum-level" value="Error" />
      </Route>
    </Routes>
    <AuditRoutes>
      <!--<Route name="DiagnosticsConsole">
  <add key="Http" value="http://localhost:8989" /> 
  </Route>-->
    </AuditRoutes>
  </Hyland.Logging>
  <system.web.webPages.razor>
    <host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc" />
    <pages pageBaseType="System.Web.Mvc.WebViewPage">
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
      </namespaces>
    </pages>
  </system.web.webPages.razor>
  <system.web>
    <httpRuntime enableVersionHeader="false" />
    <compilation debug="false" targetFramework="4.7.2">
      <assemblies>
        <add assembly="netstandard, Version=2.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" />
      </assemblies>
    </compilation>
    <customErrors mode="On">
      <error statusCode="500" redirect="~/Error/InternalServer" />
      <error statusCode="404" redirect="~/Error/NotFound" />
    </customErrors>
    <!--
      Enabling request validation in view pages would cause validation to occur
      after the input has already been processed by the controller. By default
      MVC performs request validation before a controller processes the input.
      To change this behavior apply the ValidateInputAttribute to a
      controller or action.
    -->
    <pages validateRequest="false" controlRenderingCompatibilityVersion="4.0" />
    <caching>
      <outputCacheSettings>
        <outputCacheProfiles>
          <!-- Caching settings to improve site performance, all durations are in seconds -->
          <add name="HomeCache" enabled="true" duration="180" location="Any" />
          <add name="ContactCache" enabled="true" duration="3600" location="Any" />
          <add name="MeetingsCache" enabled="true" duration="600" location="Any" />
          <add name="SearchCache" enabled="true" duration="180" location="Any" varyByParam="dropid;mtids;searchTerm;dropsv;dropev" />
          <add name="ListCache" enabled="true" duration="180" location="Any" varyByParam="dropid;mtids;dropsv;dropev" />
          <!--The MeetingCache value needs to be set less than or equal to the configured AWS playlist .m3u8 cache which is 360 seconds (5 min.)-->
          <add name="MeetingCache" enabled="true" duration="360" location="Any" varyByParam="id" />
          <add name="MeetingAccessibleCache" enabled="true" duration="600" location="Any" varyByParam="meetingId;type" />
          <add name="AgendaDocumentCache" enabled="true" duration="600" location="Any" varyByParam="meetingId" />
          <add name="ItemsCache" enabled="true" duration="180" location="Any" varyByParam="meetingId;itemId;isSection;type" />
          <add name="StyleCache" enabled="true" duration="43200" location="Any" />
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers accessPolicy="Read, Script">
      <remove name="BlockViewHandler" />
      <add name="BlockViewHandler" path="Views/*" verb="*" preCondition="integratedMode" type="System.Web.HttpNotFoundHandler" />
    </handlers>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.1.0" newVersion="2.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.1.0" newVersion="2.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
