<div id="DocumentImportSection" class="tabcontent">
    <div class="row">
        <div class="column">
            <div class="settingElement">
                <div class="labelElement">
                    <span>Clear Document Type After Import: </span><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                    <span id="Clear-Document-Type-After-Import-Tooltip" class="tooltiptext">This is the help text.</span>
                </div>
                <div class="inputElement">
                    <label for="Clear-Document-Type-After-Import" class="switch">
                        <input id="Clear-Document-Type-After-Import" type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
            <div class="settingElement">
                <div class="labelElement">
                    <span>Always Generate Preview: </span><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                    <span id="Always-Generate-Preview-Tooltip" class="tooltiptext">This is the help text.</span>
                </div>
                <div class="inputElement">
                    <label for="Always-Generate-Preview" class="switch">
                        <input id="Always-Generate-Preview" type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="settingElement">
                <div class="labelElement">
                    <span>Clear Keywords After Import: </span><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                    <span id="Clear-Keywords-After-Import-Tooltip" class="tooltiptext">This is the help text.</span>
                </div>
                <div class="inputElement">
                    <label for="Clear-Keywords-After-Import" class="switch">
                        <input id="Clear-Keywords-After-Import" type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
            <div class="settingElement">
                <div class="labelElement">
                    <label for="Maximum-Import-Queue-Size">Maximum Import Queue Size: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                    <span id="Maximum-Import-Queue-Size-Tooltip" class="tooltiptext">This is the help text.</span>
                </div>
                <div class="inputElement">
                    <input type="number" pattern="[0-9]*" inputmode="numeric" name="Maximum-Import-Queue-Size" id="Maximum-Import-Queue-Size" value="5">
                </div>
            </div>
        </div>
    </div>
</div>